<div id="top-5-stores" className="trapyz-top-5-box">
            <div className="trapyz-top-5-bold-heading">
              Top 5 Visited Stores
            </div>
            <div className="trapyz-top-5-progress-content">
              <div className="trapyz-top-5-normal-heading">
                Lifestyle
              </div>
              <div id="top-5-store-progress-0" className="trapyz-top-5-progress-bar">

              </div>
              <div id="top-5-store-count-0" className="trapyz-top-5-normal-text">
                100000
              </div>
            </div>
            <div className="trapyz-top-5-progress-content">
              <div className="trapyz-top-5-normal-heading">
                Nike
              </div>
              <div id="top-5-store-progress-0" className="trapyz-top-5-progress-bar">

              </div>
              <div id="top-5-store-count-0" className="trapyz-top-5-normal-text">
                200000
              </div>
            </div>
          </div>