@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Montserrat", "ubuntu";
}

#root {
  overflow-x: hidden; 
}

.trapyz-main-container {
  position: relative;
  display: block;
  width: 98vw;
  text-align: left;
  overflow: hidden;
}

.trapyz-info-panel {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100vh;
  min-height: 800px;
  background: #9451FF;
  padding: 5vmin 5vmin;
  float: left;
}

.trapyz-login-panel {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100vh;
  float: left;
}

.trapyz-logo-container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.trapyz-logo-image {
  position: relative;
  display: inline-block;
  width: 18vw;
  height: auto;
  float: none;
}

.trapyz-version {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  float: none;
  color: #fff;
  font-size: 22px;
  cursor: default;
}

.trapyz-description-div {
  position: relative;
  display: block;
  margin: 3vh 0 0 0;
  text-align: justify;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  cursor: default;
}

.trapyz-feature-div {
  margin: 6vh 0 0 0;
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: default;
  display: none;
}

.trapyz-feature-list {
  margin: 2vh 0 0 0;
  color: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  font-weight: 100;
  cursor: default;
  display: none;
}

.trapyz-contact-image {
  position: relative;
  display: inline-block;
  float: none;
  width: 100%;
  height: 100%;
}

.trapyz-contact-div {
  position: relative;
  display: inline-block;
  color: #fff;
  margin: 20vh 0 0 0;
  font-size: 14px;
}

.trapyz-contact-logo-div {
  position: relative;
  display: inline-block;
  margin: 2vh 0 0 0;
}

.trapyz-main-logo-container {
  position: relative;
  margin: 10vh 0 0 0;
  text-align: center;
}

.trapyz-login-main-logo {
  position: relative;
  display: inline-block;
  width: 14vw;
  opacity: 0;
}

.trapyz-contact-logo-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: #6237c1;
  padding: 8px;
  margin: 1vmin;
  cursor: pointer;
}

.trapyz-contact-logo-container:hover {
  background: #4a90e2;
}

.trapyz-label {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 4vmin 0 2vmin 0;
  color: #2c6fb2;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}

.trapyz-login-container {
  width: 70%;
  margin: 0 15%;
  text-align: center;
}

.trapyz-username-text,
.trapyz-password-text {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: left;
  border: none;
  color: #ababab;
  border-bottom: 1px solid #439FF5;
}

.trapyz-username-text:focus,
.trapyz-password-text:focus {
  outline: none;
}

.trapyz-login-button {
  position: relative;
  display: inline-block;
  width: 12vw;
  margin: 10vh 0 0 0;
  background: #439ff5;
  border-radius: 20px;
  padding: 9px;
  color: #fff;
  cursor: pointer;
}

.trapyz-copyright-text {
  position: relative;
  top: 40vh;
  font-size: 12px;
  color: #676767;
  cursor: default;
}

.trapyz-contact-text {
  cursor: default;
}

.trapyz-error-txt {
  opacity: 0;
  position: relative;
  color: red;
  font-size: 10px;
  margin: 10px;
  font-weight: 900;
}

.trapyz-link {
  color: #fff;
  font-weight: 900;
}
