@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Montserrat", "ubuntu";
}

.trapyz-main-container {
  position: relative;
  display: block;
  width: 100vw;
  height: auto;
  text-align: left;
  border: 1px solid #BCB5B9;
}

.trapyz-menu-panel {
  position: relative;
  display: inline-block;
  width: 24vw;
  height: 1267px;
  background: linear-gradient(to bottom, #9854ff, #7a41ff);
  color: #fff;
  float: left;
}

.trapyz-main-logo {
  position: relative;
  display: block;
  width: 300px;
  height: 78px;
}

.trapyz-logo-img {
  width: auto;
  height: 100%;
}

.trapyz-client-logo {
  position: relative;
  display: block;
  margin: 0 0 0 22px;
  width: 171px;
  height: 86px;
}

.trapyz-client-logo-img {
  width: 100%;
  height: auto;
}

.trapyz-unique-users-container {
  position: relative;
  display: block;
  height: 86px;
}

.trapyz-total-users,
.trapyz-weekly-users,
.trapyz-monthly-users {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100%;
  font-size: 15px;
  float: left;  
}

.trapyz-total-users,
.trapyz-weekly-users {
  border-right: 1px solid #DFDFDF;
}

.trapyz-user-number {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.trapyz-segments-header {
  position: relative;
  display: block;
  height: 86px;
  background-color: #7942E6;
  border-left: 4px solid #fff;
  text-align: left;
  margin: 15px 0 0 0;
}

.trapyz-segments-header-icon {
  position: relative;
  display: inline-block;
  margin: 5px 0 0 0;
  width: auto;
  height: auto;
  float: left;
}

.trapyz-bold-heading {
  position: relative;
  display: inline-block;
  float: left;
  margin: 14px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.trapyz-normal-heading {
  position: relative;
  display: block;
  float: left;
  font-size: 14px;
}

.trapyz-top-5-box {
  position: relative;
  display: block;
  background: #7942E6;
  padding: 5px 16px 5px 16px;
  margin: 30px 16px 0 16px;
  border-radius: 4px;
}

.trapyz-top-5-bold-heading {
  position: relative;
  display: block;
  margin: 14px 0 14px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.trapyz-top-5-normal-heading {
  position: relative;
  display: inline-block;
  float: left;
  width: 60px;
  height: 100%;  
  margin: 0 10px 0 0;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trapyz-top-5-progress-bar {
  position: relative;
  display: inline-block;
  float: left;
  width: 100px;
  height: 5px;
  margin: 7px 10px 0 0;
  border-radius: 10px;
  background: #f9ca24;
}

.trapyz-top-5-progress-content {
  position: relative;
  display: block;
  height: 20px;
  margin: 0 0 10px 0;
  width: 100%;
}

.trapyz-top-5-normal-text {
  position: relative;
  display: inline-block;
  float: right;
  width: 56px;
  height: 100%;  
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trapyz-canvas-panel {
  position: relative;
  display: inline-block;
  max-width: 1140px;
  width: 75.5vw;
  float: left;
}

.trapyz-user-panel {
  position: relative;
  display: block;
  width: 100%;
  height: 78px;
  box-shadow: 0px 10px 25px #f3f3f3;
}

.trapyz-user-detail-container {
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: 100%;
  padding: 15px 0 15px 0;
}

.trapyz-user-image {
  position: relative;
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  float: left;
}

.trapyz-user-text {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  margin: 0 30px 0 0;
  float: left;
  padding: 10px;
}

.trapyz-filter-panel {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 50px 0 50px;
}

.trapyz-cards-panel {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 25px 0 25px;
}

.trapyz-hor-rule {
  width: 90%;
  border: 1px solid #979797;
}

.trapyz-filter-heading {
  position: relative;
  display: inline-block;
  float: left;
  margin: 22px 0 0 0;
  font-size: 25px;
}

.trapyz-cards {
  position: relative;
  display: inline-block;
  width: 275px;
  height: 250px;
  float: left;
  margin: 25px 0 0 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  text-decoration: none;
}

.trapyz-card-image-container {
  position: relative;
  display: block;
  width: 250px;
  height: 160px;
  margin: 10px 0 0 11px;
}

.trapyz-card-title {
  position: absolute;
  display: inline-block;
  top: 120px;
  left: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.trapyz-card-count {
  position: absolute;
  display: inline-block;
  top: 140px;
  left: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.trapyz-card-text {
  line-height: 20px;
  margin: 11px;
  text-align: left;
  font-size: 13px;
  color: #000;
}

.trapyz-card-image {
	width: 100%;
	height: 100%;
}

.trapyz-user-profile-image {
	width: 100%;
	height: 100%;
}

.trapyz-card-image-tint {
	position: absolute;
    display: inline-block;
    width: 250px;
    top: 0px;
    left: 0px;
    height: 160px;
    background: #000;
    opacity: 0.50;
}
