@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Montserrat", "ubuntu";
}

#root {
  overflow-x: hidden; 
}

#map {
    height: 100%;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    margin-right: 50px;
}

.trapyz-main-container #floating-panel button {
    border-style: none;
    margin-left: 20px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
 
.trapyz-map-logo, .trapyz-advance-image {
    float: left;
}

.trapyz-map-logo-image, .trapyz-advance-logo-image {
    height: 35px;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}

.trapyz-advance-image {
    margin-left: 10px;
}

.trapyz-canvas-panel section {
    position: relative;
}
 
.hidden {
  display: none !important;
}

.select-all, .select-all-edit {
  cursor: pointer;
}

.select-all-checkboxes {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
}

.trapyz-main-container {
  position: relative;
  display: block;
  width: 100vw;
  height: auto;
  text-align: left;
  border: 1px solid #BCB5B9;
}

.trapyz-main-container .height-auto {
  height: auto;
}

.trapyz-main-tint {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.trapyz-menu-panel {
  position: relative;
  display: inline-block;
  width: 24vw;
  height: 100%;
  min-height: 1800px;
  background: linear-gradient(to bottom, #9854ff, #7a41ff);
  color: #fff;
  float: left;
}

.trapyz-main-logo {
  position: relative;
  display: block;
  width: 100%;
  height: 78px;
}

.trapyz-logo-img {
  width:100% ;
  height: auto;
}

.trapyz-client-logo {
  position: relative;
  display: block;
  margin: 0 0 0 22px;
  width: 171px;
  height: 86px;
}

.trapyz-client-logo-img {
  width: 100%;
  height: auto;
  opacity: 0;
} 

.trapyz-canvas-panel {
    position: relative;
    display: inline-block;
    width: 74vw;
    //float: left;
  }

.trapyz-user-panel {
    position: relative;
    display: block;
    width: 100%;
    height: 78px;
    box-shadow: 0px 10px 25px #f3f3f3;
  }

.trapyz-user-detail-container {
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: 100%;
    padding: 15px 0 15px 0;
  }
.trapyz-user-image {
    position: relative;
    display: inline-block;
    border: 1px solid #979797;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    float: left;
  }
.trapyz-user-text {
    position: relative;
    display: inline-block;
    width: auto;
    height: 40px;
    float: left;
    padding: 10px;
  }
.trapyz-cards-panel {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 25px 0 25px;
  }
.trapyz-hor-rule {
    width: 94%;
    /* width: 90%;*/
    border: 1px solid #979797;
    margin-right: 37px; /* extra*/
  } 
  .trapyz-logout-image-container {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 7px 10px 0 10px;
    cursor: pointer;
  }

  .trapyz-logout-image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .trapyz-create-segment-panel-container,
  .trapyz-edit-segment-panel-container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
  .trapyz-error-message {
    position: relative;
    display: none;
    width: auto;
    font-size: 10px;
    color: red;
    text-align: center;
    float: right;
    margin-top: 5px;
  }

  .trapyz-loader-image {
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 200px;
    top: 30vh;
    left: 45vw;
    background: grey;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 25px #000;
  }

  .trapyz-card-button-img {
    display: block;
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
    margin: 8px 2px;
    cursor: pointer;
  }

  .trapyz-hamburger-menu {
    position: absolute;
    display: none;
    background: white;
    top: 40px;
    right: 10px;
    border-radius: 4px;
    font-size: 12px;
  }

  .trapyz-hamburger-menu-item {
    padding: 5px 25px;
    border-radius: 4px;
    cursor: pointer;
  }

  .trapyz-hamburger-menu-item:hover {
    background: #8749FF;
    color: #fff;
    transition: 0.5s;
  }

  .trapyz-card-loader {
    display: none;
    position: relative;
    width: 5vw;
    height: 5vw;
    top: 3vw;
    left: 3vh;
  }

  .trapyz-confirmation-outer-box, .trapyz-confirmation-export-outer-box, .trapyz-confirmation-limit-checkbox-outer-box, .trapyz-confirmation-url-outer-box {
    position: fixed;
    display: none;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .trapyz-confirmation-limit-checkbox-outer-box, .trapyz-confirmation-url-outer-box {
    justify-content: center;
  }

  .trapyz-confirmation-limit-checkbox-outer-box .trapyz-confirmation-inner-box, .trapyz-confirmation-url-outer-box .trapyz-confirmation-inner-box {
    left: 0;
    max-height: 140px;  
  }

  .trapyz-confirmation-inner-box {
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px 30px;
    font-size: 14px;
    top: 20vw;
    left: -10vw;
    font-family: "Montserrat", "ubuntu";
    cursor: default;
  }

  .trapyz-confirmation-button-holder {
    margin: 20px 0 0 0;
    text-align: center;
  }

  .trapyz-confirmation-ok-button,
  .trapyz-confirmation-cancel-button {
    position: relative;
    display: inline-block;
    border: 2px solid #9653FF;
    margin: 0 20px;
    background: #FFFFFF;
    color: #000000;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: 900;
  }

  .trapyz-confirmation-ok-button:hover,
  .trapyz-confirmation-cancel-button:hover {
    background: #9653FF;
    color: #FFFFFF;
  }
  @media screen and (min-width: 1220px){
  .trapyz-save-segment-box {
    display: inline-block;
    position: fixed;
    width: 300px;
    height: 400px;
    top: 15vh;
    left: 45vw;
    background: #FFF;
    padding: 20px;
    box-shadow: 5px 5px 25px #000;
  }
  
  .trapyz-save-segment-box * {
    text-align: left;
  }

  .trapyz-save-segment-box header span {
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
  }

  .trapyz-save-segment-box label {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
  }

  .trapyz-save-button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .trapyz-save-button-box button  {
    cursor: pointer;    
    font-size: 12px;
    font-weight: 700;
    border: none;
  }

  .trapyz-save-button-box button.clear {
    margin-left: 20px;    
    background: #FFF;
    color: #424040;
  }

  .trapyz-save-button-box button.clear:hover {
    color: #000000;
  }

  .trapyz-save-button-box button.select:hover {
    background-color: #1C62C1;
  }

  .trapyz-save-button-box button.select {
    padding: 7px 12px;
    border-radius: 7px;
    color: #FFF;
    background-color: #2177EE;
  }

  .trapyz-save-segment-box {
    width: 360px;
    height: 275px;
  }

  .trapyz-save-segment-box header {
    margin-bottom: 5px;
  }

  .trapyz-save-segment-box label {
      margin-bottom: 10px;
  }

  .trapyz-save-segment-box input {
      width: 100%;
      padding: 3px;
  }

  .trapyz-save-segment-box div:last-child {
    margin-top: 10px;
  }

  .trapyz-save-segment-box textarea {
    width: 100%;
    height: 60px;
    padding: 6px;
  }

  .trapyz-segment-filter-div {
    position: relative;
    display: block;
    width: 100%;
    height: 390px;
    padding: 20px 0 0 0;
    text-align: left;
    margin: 0 0 30px 0;
  }

  .trapyz-pie-chart-div,
  .trapyz-demography-div,
  .trapyz-interest-div,
  .trapyz-period-div {
    position: relative;
    display: inline-block;
    background: #F8F9FD;
    border: 1px solid #e1e1e1;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    width: 33%;
    margin: 0;
  }

  .trapyz-demography-div {
      height: 180px;
      width: 100%;
  }

  .trapyz-pie-chart-div {
      width: 30%;
  }
  
  .trapyz-pie-chart-div section {
    width: 153px;
    margin: 30px 0 20px;
  }

  .trapyz-pie-chart-div section.pieChart {
      margin: 0 auto;
  }

  .trapyz-segment-filter-div {
      display: flex;
      justify-content: space-between;
  }

  .trapyz-period-div {
    margin: 0;
  }

  .trapyz-segment-show-count-button,
  .trapyz-segment-cancel-button,
  .trapyz-segment-create-button {
    position: relative;
    display: inline-block;
    width: 140px;
    margin: 3vh 0 0 0;
    border-radius: 20px;
    padding: 9px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: 600;
    background: #72E6B3;
  }

  .trapyz-segment-create-button {
    border: none;
  }
  
  .trapyz-segment-create-button:disabled {
      cursor: auto;
      background: #928f8f;
  }
  
  .trapyz-segment-count {
    position: relative;
    display: block;
    font-size: 30px;
    color: #64AFF6;
    cursor: default;
    text-align: left;
  }

  .trapyz-show-count-text {
    position: relative;
    display: block;
    font-size: 13px;
    color: #6e6e6e;
    cursor: default;
    text-align: left;
  }

  .trapyz-segment-filter-heading {
    position: relative;
    display: block;
    font-size: 16px;
    text-align: left;
    font-weight: 900;
    cursor: default;
  }

  .trapyz-segment-filter-desc {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    margin: 10px 0 0 0;
    cursor: default;
  }

  .trapyz-segment-demography-elements,
  .trapyz-segment-interest-elements,
  .trapyz-segment-date-elements {
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    text-align: left;
  }

  .trapyz-segment-interest-elements {
    margin-top: 20px;
  }
  
  .trapyz-segment-city-element-container,
  .trapyz-segment-area-element-container {
    margin: 20px 0 20px 0;
    text-align: left;
  }

  .trapyz-segment-city-label,
  .trapyz-segment-city-select,
  .trapyz-segment-area-label,
  .trapyz-segment-area-select {
    position: relative;
    display: inline-block;
  }

  .trapyz-segment-city-label,
  .trapyz-segment-area-label {
    margin: 0 10px 0 0;
    width: 3vw;
    cursor: default;
  }

  .trapyz-segment-city-select,
  .trapyz-segment-area-select {
    width: 15vw;
    background: none;
    border: none;
    cursor: pointer;
  }

  .trapyz-segment-city-select:focus,
  .trapyz-segment-area-select:focus {
    outline: none;
  }

  .trapyz-interest-checkbox {
    position: relative;
    display: inline-block;
    width: 145px;
    height: 30px;
    font-size: 13px;
    text-align: left;
    cursor: default;
    float: left;
  }

  .trapyz-date-last-week,
  .trapyz-date-last-month,
  .trapyz-date-range {
    position: relative;
    display: block;
    font-size: 13px;
    text-align: left;
    height: 30px;
  }

  .trapyz-date-input-container {
    position: relative;
    display: block;
    margin: 15px 0 15px 0;
    padding: 0 0 0 40px;
    text-align: left;
    opacity: 0;
  }

  .trapyz-date-input {
    margin: 0 0 0 10px;
    cursor: pointer;
  }

  .trapyz-date-label {
    position: relative;
    display: inline-block;
    width: 3vw;
    text-align: left;
    cursor: default;
  }

  .trapyz-segment-checkbox {
      cursor: pointer;
      vertical-align: top;
  }

  .trapyz-segment-radio {
      cursor: pointer;
      vertical-align: top;
  }

  .trapyz-visit-frequency-container {
    position: relative;
    display: block;
    text-align: left;
    margin: 0 0 20px 0;
  }

  .trapyz-visit-label,
  .trapyz-visit-select,
  .trapyz-visit-txt {
    position: relative;
    display: inline-block;
  }

  .trapyz-visit-select {
    margin: 0 20px 0 0;
    cursor: pointer;
    background: none;
    border: none;
  }

  .trapyz-visit-select:focus {
    outline: none;
  }

  .trapyz-visit-label {
    margin: 0 10px 0 0;
    width: 11.5vw;
    text-align: left;
    cursor: default;
  }

  .trapyz-visit-txt {
    width: 4vw;
  }

  .trapyz-segment-cancel-button {
    margin-right: 10px !important;
    background: #F8F8F8;
    color: #B6B6B6;
    border: 1px solid #B6B6B6;
  }

  .trapyz-segment-create-button {
    background: #439FF5;
  }

  .trapyz-segment-cancel-button,
  .trapyz-segment-create-button {
    margin: 0;
  }

  .trapyz-count-detail-container {
    position: relative;
    display: inline-block;
    float: left;
    margin: 2vh 0 0 3vh;
  }

  .trapyz-segment-operations-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  
  .trapyz-segment-button-container {
    display: flex;
    width: 307px;
    margin: 3vh 0 0 20px;
    justify-content: space-between;
  }}
@media screen and (min-width: 900px){
  .trapyz-create-segment-panel, 
  .trapyz-edit-segment-panel {
    position: relative;
    display: block;
    width: 1050px;
    height: 580px;
    margin: 8vh auto;
    opacity: 1 !important;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
  }

  .trapyz-create-segment-heading,
  .trapyz-edit-segment-heading {
    position: relative;
    display: block;
    left: 0px;
    text-align: left;
    font-weight: 400;
    cursor: default;
  }

  .trapyz-create-segment-hor-rule, 
  .trapyz-edit-segment-hor-rule {
    width: 100%;
    border: 1px solid #979797;
  }

  .trapyz-create-segment-desc,
  .trapyz-edit-segment-desc {
    font-size: 14px;
    margin: 20px 80px 20px 80px;
    text-align: left;
    color: #4a4a4a;
    cursor: default;
  }

  .trapyz-segment-details-div {
    position: relative;
    display: block;
    background: #F8F9FD;
    border: 1px solid #e1e1e1;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    height: 120px;
  }

  .trapyz-segment-name-text {
    position: relative;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    padding: 15px;
    float: left;
  }

  .trapyz-segment-desc-text {
    position: relative;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    padding: 15px;
    float: left;
    margin: 0 0 0 30px;
    resize: none;
  }}
@media screen and (min-width:865px){
  .trapyz-cards {
    position: relative;
    display: inline-block;
    width: 275px;
    height: 250px;
    float: left;
    margin: 25px 0 0 20px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    text-decoration: none;
  }

  .trapyz-card-image-container {
    position: relative;
    display: block;
    width: 250px;
    height: 160px;
    margin: 10px 0 0 11px;
  }

  .trapyz-card-title {
    position: absolute;
    display: inline-block;
    top: 120px;
    left: 30px;
    font-size: 15px;  
    font-weight: 400;
    color: #fff;
  }

  .trapyz-card-count {
    position: absolute;
    display: inline-block;
    top: 140px;
    left: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }

  .trapyz-card-text {
    line-height: 20px;
    margin: 11px;
    text-align: left;
    font-size: 13px;
    color: #000;
  }

  .trapyz-card-image {
    width: 100%;
    height: 100%;
  }

  .trapyz-user-profile-image {
    height: 35px;
    cursor: pointer;
  }

  .trapyz-card-image-tint {
    position: absolute;
    display: inline-block;
    width: 250px;
    top: 0px;
    left: 0px;
    height: 160px;
    background: rgba(0,0,0,0.6);
  }}
@media screen and (min-width: 680px){
    .trapyz-unique-users-container {
      position: relative;
      display: block;
      height: 86px;
    }
    .trapyz-total-users,
    .trapyz-weekly-users,
    .trapyz-monthly-users {
      position: relative;
      display: inline-block;
      width: 8vw;
      height: 100%;
      font-size: 15px;
      float: left;  
    }

    .trapyz-total-users,
    .trapyz-weekly-users {
      border-right: 1px solid #DFDFDF;
    }

    .trapyz-user-number {
      margin: 0 0 10px 0;
      font-size: 20px;
      font-weight: 600;
    }

    .trapyz-segments-header {
      position: relative;
      display: block;
      height: 86px;
      background-color: #7942E6;
      border-left: 4px solid #fff;
      text-align: left;
      margin: 15px 0 0 0;
    }

    .trapyz-segments-header-icon {
      position: relative;
      display: inline-block;
      margin: 5px 0 0 0;
      width: auto;
      height: auto;
      float: left;
    }

    .trapyz-bold-heading {
      position: relative;
      display: block;
      float: left;
      margin: 14px 0 10px 0;
      font-size: 17px;
      font-weight: 600;
      text-align: left;
    }

    .trapyz-normal-heading {
      position: relative;
      display: block;
      float: left;
      font-size: 14px;
      text-align: left;
    }

    .trapyz-top-5-box {
      position: relative;
      display: block;
      background: #7942E6;
      padding: 5px 10px 5px 15px;
      margin: 30px 16px 0 16px;
      border-radius: 4px;
    }

    .trapyz-top-5-bold-heading {
      position: relative;
      display: block;
      margin: 14px 0 14px 0;
      font-size: 17px;
      font-weight: 600;
      text-align: left;
    }

    .trapyz-top-5-normal-heading {
      width: 102px;
      font-size: 14px;
      text-align: left;
    }

    .trapyz-top-5-progress-bar {
      width: 100px;
      height: 5px;
      border-radius: 10px;
      background: #f9ca24;
    }

    .trapyz-top-5-progress-content {
      display: flex;
      margin: 0 0 10px;
      align-items: center;
    }

    .trapyz-top-5-normal-text {
      text-align: right;
      flex-grow: 1;	
    }
    .trapyz-filter-panel {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    /*padding: 0 50px;*/
  }
  .trapyz-filter-heading {
    position: relative;
    display: inline-block;
    float: left;
    margin: 22px 0 0 0;
    font-size: 25px;
  }
  .trapyz-create-segment-button, #floating-panel button {
    position: relative;
    display: inline-block;
    width: 190px;
    margin: 20px 0 0 20px;
    background: #439ff5;
    border-radius: 20px;
    padding: 9px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
  }
 
}
@media screen and (max-width:1220px) and (min-width: 680px){
    .trapyz-create-segment-panel, 
    .trapyz-edit-segment-panel {
       height:1150px;
    }
  .trapyz-segment-filter-div {
    position: relative;
    display: block;
    width: 100%;
    height: 69%;
    padding: 20px 0 0 0;
    text-align: left;
    margin: 0 0 30px 0;
  }

  .trapyz-demography-div,
  .trapyz-interest-div,
  .trapyz-period-div {
    position: relative;
    display: block;
    background: #F8F9FD;
    border: 1px solid #e1e1e1;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    margin: 0 0 5px 0;
  }

  .trapyz-period-div {
    margin: 0;
  }

  .trapyz-segment-show-count-button,
  .trapyz-segment-cancel-button,
  .trapyz-segment-create-button {
    position: relative;
    display: inline-block;
    width: 140px;
    margin: 3vh 0 0 0;
    border-radius: 20px;
    padding: 9px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: 600;
    background: #72E6B3;
  }

  .trapyz-segment-count {
    position: relative;
    display: block;
    font-size: 30px;
    color: #64AFF6;
    cursor: default;
    text-align: left;
  }

  .trapyz-show-count-text {
    position: relative;
    display: block;
    font-size: 13px;
    color: #6e6e6e;
    cursor: default;
    text-align: left;
  }

  .trapyz-segment-filter-heading {
    position: relative;
    display: block;
    font-size: 16px;
    text-align: left;
    font-weight: 900;
    cursor: default;
  }

  .trapyz-segment-filter-desc {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    margin: 10px 0 0 0;
    cursor: default;
  }

  .trapyz-segment-demography-elements,
  .trapyz-segment-interest-elements,
  .trapyz-segment-date-elements {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 22px 0 0 0;
    text-align: left;
  }

  .trapyz-segment-city-element-container,
  .trapyz-segment-area-element-container {
    margin: 20px 0 20px 0;
    text-align: left;
  }

  .trapyz-segment-city-label,
  .trapyz-segment-city-select,
  .trapyz-segment-area-label,
  .trapyz-segment-area-select {
    position: relative;
    display: inline-block;
    margin: 4.5px 4.5px 4.5px 16%;
  }

  .trapyz-segment-city-label,
  .trapyz-segment-area-label {
    margin: 0 10px 0 0;
    width: 3vw;
    cursor: default;
  }

  .trapyz-segment-city-select,
  .trapyz-segment-area-select {
    width: 15vw;
    background: none;
    border: none;
    cursor: pointer;
  }

  .trapyz-segment-city-select:focus,
  .trapyz-segment-area-select:focus {
    outline: none;
  }

  .trapyz-interest-checkbox {
    position: relative;
    display: inline-block;
    width: 145px;
    height: 30px;
    font-size:10px;
    text-align: left;
    cursor: default;
    float: left;
  }

  .trapyz-date-last-week,
  .trapyz-date-last-month,
  .trapyz-date-range {
    position: relative;
    display: block;
    font-size: 13px;
    text-align: left;
    height: 30px;
  }

  .trapyz-date-input-container {
    position: relative;
    display: block;
    margin: 15px 0 15px 0;
    padding: 0 0 0 40px;
    text-align: left;
    opacity: 0;
  }

  .trapyz-date-input {
    margin: 0 0 0 10px;
    cursor: pointer;
  }

  .trapyz-date-label {
    position: relative;
    display: inline-block;
    width: 3vw;
    text-align: left;
    cursor: default;
  }

  .trapyz-segment-checkbox {
    cursor: pointer;
  }

  .trapyz-segment-radio {
    cursor: pointer;
  }

  .trapyz-visit-frequency-container {
    position: relative;
    display: block;
    text-align: left;
    margin: 0 0 20px 0;
  }

  .trapyz-visit-label,
  .trapyz-visit-select,
  .trapyz-visit-txt {
    position: relative;
    display: inline-block;
  }

  .trapyz-visit-select {
    margin: 0 20px 0 0;
    cursor: pointer;
    background: none;
    border: none;
  }

  .trapyz-visit-select:focus {
    outline: none;
  }

  .trapyz-visit-label {
    margin: 0 10px 0 0;
    width: 11.5vw;
    text-align: left;
    cursor: default;
  }

  .trapyz-visit-txt {
    width: 4vw;
  }

  .trapyz-segment-cancel-button {
    /*margin-right: 10px !important;*/
    background: #F8F8F8;
    color: #B6B6B6;
    border: 1px solid #B6B6B6;
  }

  .trapyz-segment-create-button {
    background: #439FF5;
  }

  .trapyz-segment-cancel-button,
  .trapyz-segment-create-button {
    margin: 0;
    font-size: 11px;
  }

  .trapyz-count-detail-container {
    position: relative;
    display: inline-block;
    float: left;
    margin: 2vh 0 0 3vh;
  }

  .trapyz-segment-button-container {
    display: flex;
    width: 20vw;
    margin: 3vh 0 0 auto;
    justify-content: space-between;
  }

}
@media screen and (max-width: 900px){
    .trapyz-create-segment-panel, 
    .trapyz-edit-segment-panel {
      position: relative;
      display: block;
      width: 85vw;
      height:1250px;
      margin: 10vh 7.25vw;
      opacity: 1 !important;
      background: #fff;
      border-radius: 10px;
      padding: 30px;
    }
    .trapyz-create-segment-heading,
    .trapyz-edit-segment-heading {
      position: relative;
      display: block;
      left: 0px;
      text-align: left;
      font-weight: 400;
      cursor: default;
    }
    .trapyz-create-segment-hor-rule, 
    .trapyz-edit-segment-hor-rule {
      width: 100%;
      border: 1px solid #979797;
    }
    .trapyz-create-segment-desc,
    .trapyz-edit-segment-desc {
      font-size: 14px;
      margin: 5px 2px 5px 2px;
      text-align: left;
      color: #4a4a4a;
      cursor: default;
    }

    .trapyz-segment-details-div {
      position: relative;
      display: block;
      background: #F8F9FD;
      margin: 0;
      border: 1px solid #e1e1e1;
      padding: 20px;
      text-align: left;
      border-radius: 10px;
      height:220px !important;
      width: 100%;
    }

    .trapyz-segment-name-text {
      position: relative;
      display:block;
      text-align: left;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      padding: 15px;
      align-self: center;
      width: 80%;
    }

    .trapyz-segment-desc-text {
      align-self: center;
      position: relative;
      display: block;
      text-align: left;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      padding: 15px;
      resize: none;
      width: 94%;
      margin: 10px 0 0 0;
    }}
@media screen and (max-width:865px) and (min-width: 540px){
  .trapyz-cards {
    position: relative;
    display: inline-block;
    width: 165px;
    height: 150px;
    float: left;
    margin: 15px 0 0 12px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    text-decoration: none;}
  .trapyz-card-image-container {
    position: relative;
    display: block;
    width: 150px;
    height: 96px;
    margin: 6px 0 0 6.6px;}
  .trapyz-card-title {
    position: absolute;
    display: inline-block;
    top: 72px;
    left: 18px;
    font-size: 9px;  
    font-weight: 400;
    color: #fff;}
  .trapyz-card-count {
    position: absolute;
    display: inline-block;
    top: 84px;
    left: 18px;
    font-size: 14.4px;
    font-weight:360;
    color: #fff;}
  .trapyz-card-text {
    line-height: 12px;
    margin: 11px;
    text-align: left;
    font-size: 7.8px;
    color: #000;}
  .trapyz-card-image {
    width: 100%;
    height: 100%;}
  .trapyz-user-profile-image {
    width: 100%;
    height: 100%;}
  .trapyz-card-image-tint {
    position: absolute;
    display: inline-block;
    width: 150px;
    top: 0px;
    left: 0px;
    height: 96px;
    background: rgba(0,0,0,0.6);}}
@media screen and (max-width: 680px){
  .trapyz-unique-users-container {
    position: relative;
    display: block;
    height: fit-content;
  }

  .trapyz-user-panel {
    height: 65px;
  }
    .trapyz-total-users,
  .trapyz-weekly-users,
  .trapyz-monthly-users {
    position: relative;
    display:block;
    width: 100%;
    height: auto;
    font-size: 13px;
    padding: 5px 0;
  }

  .trapyz-total-users,
  .trapyz-weekly-users {
    border-bottom: 1px solid #DFDFDF;
  }

  .trapyz-user-number {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  .trapyz-segments-header {
    position: relative;
    display: block;
    height: fit-content;
    background-color: #7942E6;
    border-left: 2px solid #fff;
    text-align: left;
    margin: 15px 0 0;
    padding: 5px 0;
  }

  .trapyz-segments-header-icon {
    position: relative;
    display:none;
    margin: 5px 0 0 0;
    width: auto;
    height: auto;
    /*float: left;*/
  }
  .trapyz-bold-heading {
    position: relative;
    display: block;
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  .trapyz-normal-heading {
    position: relative;
    display: block;
    font-size: 12px;
    text-align: center;
  }
    .trapyz-top-5-box {
    display:none;
  }
  .trapyz-filter-heading {
    position: relative;
    display: block;
    float: left;
    margin: 10px 0 0;
    font-size: 20px;
  }

  .trapyz-create-segment-button {
    position: relative;
    display: block;
    width:80px;
    margin: 10px 0;   
    background: #439ff5;
    border-radius: 20px;
    padding:4px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size:9px;
  }
  .trapyz-filter-panel {
    position: relative;
    padding: 0 20px;
  }
      .trapyz-create-segment-panel, 
    .trapyz-edit-segment-panel {
	height:auto;
    }
  .trapyz-segment-filter-div {
    position: relative;
    display: block;
    width: 100%;
    height: 69%;
    padding: 20px 0 0 0;
    text-align: left;
    margin: 0 0 30px 0;
  }

  .trapyz-demography-div,
  .trapyz-interest-div,
  .trapyz-period-div {
    position: relative;
    display: block;
    background: #F8F9FD;
    border: 1px solid #e1e1e1;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    margin: 0 0 5px 0;
  }

  .trapyz-period-div {
    margin: 0;
  }

  .trapyz-segment-show-count-button,
  .trapyz-segment-cancel-button,
  .trapyz-segment-create-button {
    position: relative;
    display: inline-block;
    width: 15vw;
    margin: 1vh 0 0 0;
    border-radius: 20px;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 9px;
    font-weight: 600;
    background: #72E6B3;
  }
 .trapyz-segment-cancel-button {
    /*margin-right: 10px !important;*/
    background: #F8F8F8;
    color: #B6B6B6;
    border: 1px solid #B6B6B6;
  }

  .trapyz-segment-create-button {
    background: #439FF5;
  }

  .trapyz-segment-cancel-button,
  .trapyz-segment-create-button {
    width:13vw;
    margin:1px 4px 4px 4px;
    font-size: 9px;
  }
  .trapyz-segment-count {
    position: relative;
    display: block;
    font-size:12px;
    color: #64AFF6;
    cursor: default;
    text-align: left;
  }

  .trapyz-show-count-text {
    position: relative;
    /*display: bloc;*/
    font-size:9px;
    color: #6e6e6e;
    cursor: default;
    text-align: left;
    width: 68px;
  }

  .trapyz-segment-filter-heading {
    position: relative;
    display: block;
    font-size: 16px;
    text-align: left;
    font-weight: 900;
    cursor: default;
  }

  .trapyz-segment-filter-desc {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    margin: 10px 0 0 0;
    cursor: default;
  }

  .trapyz-segment-demography-elements,
  .trapyz-segment-interest-elements,
  .trapyz-segment-date-elements {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 22px 0 0 0;
    text-align: left;
  }

  .trapyz-segment-city-element-container,
  .trapyz-segment-area-element-container {
    margin: 20px 0 20px 0;
    text-align: left;
  }

  .trapyz-segment-city-label,
  .trapyz-segment-city-select,
  .trapyz-segment-area-label,
  .trapyz-segment-area-select {
    position: relative;
    display: inline-block;
    margin: 4.5px 4.5px 4.5px 16%;
  }

  .trapyz-segment-city-label,
  .trapyz-segment-area-label {
    margin: 0 10px 0 0;
    width: 3vw;
    cursor: default;
  }

  .trapyz-segment-city-select,
  .trapyz-segment-area-select {
    width:100px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .trapyz-segment-city-select:focus,
  .trapyz-segment-area-select:focus {
    outline: none;
  }

  .trapyz-interest-checkbox {
    position: relative;
    display: inline-block;
    width: 145px;
    height:30px;
    font-size:11px;
    text-align: left;
    cursor: default;
    margin:3.5px;
    float: left;
    /*text-overflow:"";*/
  }

  .trapyz-date-last-week,
  .trapyz-date-last-month,
  .trapyz-date-range {
    position: relative;
    display: block;
    font-size: 13px;
    text-align: left;
    height: 30px;
  }

  .trapyz-date-input-container {
    position: relative;
    display: block;
    margin: 15px 0 15px 0;
    padding: 0 0 0 40px;
    text-align: left;
    opacity: 0;
  }

  .trapyz-date-input {
    margin: 0 0 0 10px;
    cursor: pointer;
  }

  .trapyz-date-label {
    position: relative;
    display: inline-block;
    width: 3vw;
    text-align: left;
    cursor: default;
  }

  .trapyz-segment-checkbox {
    cursor: pointer;
  }

  .trapyz-segment-radio {
    cursor: pointer;
  }

  .trapyz-visit-frequency-container {
    position: relative;
    display: block;
    text-align: left;
    margin: 0 0 20px 0;
  }

  .trapyz-visit-label,
  .trapyz-visit-select,
  .trapyz-visit-txt {
    position: relative;
    display: inline-block;
  }
  .trapyz-visit-select {
    margin: 0 20px 0 0;
    cursor: pointer;
    background: none;
    border: none;
  }
  .trapyz-visit-select:focus {
    outline: none;
  }
  .trapyz-visit-label {
    margin: 0 10px 0 0;
    width: 11.5vw;
    text-align: left;
    cursor: default;
  }
  .trapyz-visit-txt {
    width: 4vw;
  }
  .trapyz-count-detail-container {
    position: relative;
    display: inline-block;
    float: left;
    margin: 2vh 0 0 3vh;
  }

  .trapyz-segment-button-container {
    position: relative;
    display: inline-block;
    float: right;
    width: 19vw;
    margin: 1vh 3vw 0 0;
  }

  }
@media screen and (max-width: 540px){
  .trapyz-cards {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 120px;
    float: left;
    margin: 5px 0.5px 2px 3px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    text-decoration: none;
    }
  .trapyz-card-image-container {
    position: relative;
    display: block;
    width: 190px;
    height: 110px;
    margin: 4px 0 0 4.3px;
  }
  .trapyz-hamburger-menu {
      font-size: 10px;
      top: 30px;
      right: 15px;
  }
  .trapyz-card-title {
    position: absolute;
    display: inline-block;
    left: 19px;
    font-size:10px;  
    font-weight: 400;
    color: #fff;
    bottom: 23px;
   }
  .trapyz-card-count {
    position: absolute;
    display: inline-block;
    left: 20px;
    font-size: 13px;
    font-weight:360;
    color: #fff;
    bottom: 8px;
  }
  .trapyz-card-button-img {
      width: 20px;
      height: 20px;
  }
  .trapyz-card-text {
    display: none;
    line-height:8px;
    margin:7.32px;
    text-align: left;
    font-size:5.148px;
    color: #000;
    }
  .trapyz-card-image {
    width: 100%;
    height: 100%;
   }
  .trapyz-user-profile-image {
    width: 100%;
    height: 100%;
   }
  .trapyz-card-image-tint {
    position: absolute;
    display: inline-block;
    width: 190px;
    top: 0px;
    left: 0px;
    height:110px;
    background: rgba(0,0,0,0.6);
    }
  .trapyz-interest-checkbox {
    position: relative;
    display: inline-block;
    width: 145px;
    height:30px;
    font-size:9px;
    text-align: left center;
    cursor: default;
    margin:4px 6px 3.5px 6px;
    float: left;
  }}

@media(max-width: 540px) {
    .trapyz-description-div {
	display: none;
    }

    .trapyz-info-panel {
	width: 40%;
    }

    .trapyz-logo-container {
	margin-top: 53px;
    }

    .trapyz-logo-image {
	width: 26vw;
    }

    .trapyz-version {
	font-size: 12px;
    }

    .trapyz-contact-div {
	font-size: 10px;
	margin-top: 45vh;
    }

    .trapyz-contact-logo-container {
	width: 25px;
	height: 25px;
	padding: 3px;
    }

    .trapyz-label {
	font-size: 12px;
    }

    .trapyz-main-logo-container {
	margin: 8vh 0 0 0;
    }
    
    .trapyz-login-container {
	width: 95%;
	margin: 0 10%;
    }

    .trapyz-login-button {
	width: auto;
	margin-top: 0;
	font-size: 12px;
    }

    .trapyz-error-txt {
	margin: 7px;
    }

    .trapyz-copyright-text {
	top: 22vh;
    }

    .trapyz-create-segment-panel, .trapyz-edit-segment-panel {
	padding: 15px;
    }

    .trapyz-create-segment-desc, .trapyz-edit-segment-desc {
	font-size: 11px;
    }

    .trapyz-segment-details-div {
	padding: 12px;
	height: auto !important;
    }

    .trapyz-segment-name-text, .trapyz-segment-desc-text {
	padding: 7px;
	width: 100%;
    }

    .trapyz-segment-filter-div {
	padding: 10px 0 0;
    }

    .trapyz-demography-div, .trapyz-interest-div, .trapyz-period-div {
	padding: 10px;
    }

    .trapyz-segment-filter-heading {
	font-size: 14px;
    }

    .trapyz-segment-filter-desc {
	font-size: 11px;
    }

    .trapyz-segment-demography-elements, .trapyz-segment-interest-elements, .trapyz-segment-date-elements {
	margin: 0;
	font-size: 13px;
    }

    .trapyz-segment-area-element-container, .trapyz-segment-city-element-container {
	margin: 5px 0;
    }

    .select-all-checkboxes {
	margin: 5px 0;
	font-size: 12px;
	display: flex;
	align-items: center;
	padding-left: 3px;
    }

    .trapyz-interest-checkbox {
	display: flex;
	width: 20.7vw;
	height: auto;
	margin: 3px;
	align-items: center;
    }

    .trapyz-segment-checkbox, .trapyz-segment-radio {
	margin-right: 6px;
    }

    .trapyz-visit-frequency-container {
	margin: 10px 0;
    }

    .trapyz-visit-label {
	width: auto;
    }

    .trapyz-visit-txt {
	width: 15vw;
    }

    .trapyz-date-last-month, .trapyz-date-last-week, .trapyz-date-range {
	display: flex;
	font-size: 12px;
	height: 30px;
    }

    .trapyz-segment-show-count-button, .trapyz-segment-cancel-button, .trapyz-segment-create-button {
	width: auto;
	float: none;
    }

    .trapyz-count-detail-container {
	float: none;
    }

    .trapyz-show-count-text, .trapyz-segment-count {
	display: inline-block;
	padding-right: 5px;
    }

    .trapyz-segment-button-container {
	display: block;
	float: none;
	width: auto;
    }

    .trapyz-show-count-text {
	width: auto;
    }

    .trapyz-loader-image {
	left: 30%;
	width: 150px;
	height: 150px;
    }

    .trapyz-card-loader {
	width: 25vw;
	height: 25vw;
    }
}

.inactive:hover {
  background-color: #6B6B6B;
  color: #FFFFFF;
  cursor: not-allowed;
}

.trapyz-pie-chart-div .unique-gids, .trapyz-pie-chart-div .total-count {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 15px;
}

.trapyz-pie-chart-div .unique-gids .color, .trapyz-pie-chart-div .total-count .color {
    flex-basis: 20px;
    background: #F5A523;
    height: 20px;
    border: 1px solid #F5A523;
    border-radius: 4px;
    margin-top: -16px;
}

.trapyz-pie-chart-div .total-count .color {
    background: #498FE1;
    border: 1px solid #498FE1;
}

.trapyz-pie-chart-div span {
    display: block;
}

.trapyz-pie-chart-div .unique-gids .content, .trapyz-pie-chart-div .total-count .content {
    margin-left: 10px;
}

.trapyz-pie-chart-div .unique-gids .content .count, .trapyz-pie-chart-div .total-count .content .count {
    font-size: 22px;
    text-align: left;
}

.trapyz-pie-chart-div .unique-gids .content span, .trapyz-pie-chart-div .total-count .content span {
    font-size: 14px;
}
