.ml-auto {
  margin-left: auto;
}

.remove-tag {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

main.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.container .trapyz-user-image {
    position: absolute;
    right: 20px;
    top: 20px;
}

.container * {
  text-align: left;
}

.form-geofence {
    margin-top: 30px;
    width: 50%;
    display: inline-block;
    margin-left: 160px;
    padding: 39px;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    background: #F8F9FD;
}

.form-inline {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.form-inline label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.form-inline ~ button {
    display: block;
    margin: 30px 47px 0 auto;
    border: none;
    float: right;
}

.form-inline select {
    border: 1px solid #b5b0b0;
    padding: 5px;
    border-radius: 4px;
}

.form-inline input {
    border-radius: 4px;
    height: 26px;
}

.city-list, .area-list, .category-list, .sub-category-list, .store-list {
    position: absolute;
    width: 511px;
    background: white;
    z-index: 1;
    left: 12px;
    top: 35px;
    border: 1px solid;
    padding-left: 0;
    max-height: 200px;
    overflow: auto;
}

.tag {
    border: 1px solid #968181;
    background: #d4cccc;
    font-size: 12px;
    margin: 2px;
    align-items: center;
}

.virtual-tag {
    background: #4a2f2f;
    color: #FFF;
    border-radius: 10px;
    padding: 4px;
    font-size: 12px;
    margin: 2px;
    align-items: center;
}

.city-list li, .area-list li, .category-list li, .sub-category-list li, .store-list li {
    list-style: none;
    cursor: pointer;
    padding: 1px 5px;
}

.city-list li:hover, .area-list li:hover, .category-list li:hover,  .sub-category-list li:hover, .store-list li:hover {
    background: grey;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader-image {  
  display: inline-block;
  position: fixed;
  width: 200px;
  height: 200px;
  top: 30vh;
  left: 45vw;
  background: grey;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 25px #000;
}

main .form-inline .form-control {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
  position: relative;
}

.current-query {
  border: 1px solid;
  width: 350px;
  margin-bottom: 10px;
}

.current-query-segment {
  margin: 5px;
  border: 1px solid;
  padding: 5px;
}

.mw-50 {
  max-width: 50px;
}

div.segment-count {
  border-radius: 162px;
  height: 145px;
  width: 145px;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visit-label {
  padding-right: 36px;
}

@media(max-width: 720px) {
    .loader-image {
	left: 30%;
	width: 150px;
	height: 150px;
    }

    .query-picker {
	margin-top: 45px;
    }

    .mlr-auto {
	margin-left: auto;
	margin-right: auto;
    }
}