.trapyz-advanced-segment-page {
    display: inline-block;
    margin-top: 50px;
    padding: 20px 0;
    background: #FFF;
    border-radius: 10px;
}

.settings-desc {
    margin: 14px 25px;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
}

.settings {
    display: inline-flex;
    margin: 0 25px;
    min-height: 500px;
    background-color: #F5F5F5;
    padding: 10px;
}

.settings * {
  text-align: left;
}

.settings .operations {
    width: 75%;
}

.settings .operations header {
    text-align: left;
    padding: 0px 5px;
    font-size: 14px;
    word-spacing: 4px;
    font-weight: 700;
}

.settings .sidebar {
    background: #FFF;
    word-spacing: 3px;
    width: 25%;
}

.settings .operations main {
    margin: 15px 5px;
    display: flex;
    justify-content: space-around;
}

.settings .operations main .selector {
    display: inline-block;
    width: 48%;
    position: relative;
}

.settings .operations main .selector header {
    font-size: 12.5px;
    word-spacing: 0px;
    margin-bottom: 5px;
    font-weight: 700;
}

.settings .operations main .selector .input-box {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.settings .operations main .selector .input-box input {
    line-height: 21px;
    width: 200px;
    padding-left: 7px;
}

.settings .operations main .selector .input-box .add, .area-input-box .add {
    margin-left: 10px;
    border-radius: 5px;
    color: #FFF;
    font-size: 28px;
    line-height: 25px;
    background-color: #2177EE;
    border-width: 0;
    cursor: pointer;
}

.settings .operations main .selector .input-box .add:hover, .area-input-box .add:hover {
    background-color: #1C62C1;
}

.settings .operations main .selector .input-box .show-area {
    font-size: 10px;
    font-weight: 900;
    margin-left: auto;
    color: #2177EE;
    cursor: pointer;
    max-width: 65px;
}

.settings .operations main .selector .input-box .show-area:hover {
    color: #1C62C1;
}

.settings .operations main .selector .city-list-box {
    height: 200px;
    background-color: #FFF;
    margin-left: 5px;
    margin-top: 6px;
    border: 1px solid #afacac;
}

.settings-date-range {
    margin-left: 15px;
    font-size: 12.5px;
}

.settings-date-range span {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

.settings-date-range input {
    vertical-align: middle;
}

.settings-date-range label {
    vertical-align: middle;
    display: inline-block;
    margin: auto 10px auto 3px;
    font-size: 12px;
}

.slot-box {
    margin: 15px;
}

.slot-box .time-of-day {
    display: inline-block;
    width: 40%;
}

.slot-box .day-of-week {
    width: 60%;
    display: inline-block;
    padding-left: 32px;
}

.settings-date-range input, .slot-box .day-of-week input, .slot-box .time-of-day input {
    cursor: pointer;
}

.settings-date-range .selected, .settings-date-range p, .slot-box .time-of-day .time-checkbox.checked, .slot-box .day-of-week .day-checkbox.checked {
    color: #2177EE;
    font-weight: 700;
}

.slot-box span {
    display: block;
    font-size: 12.5px;
    margin-bottom: 6px;
    font-weight: 700;
}

.slot-box .day-of-week label {
    width: 72px;
}

.slot-box label {
    font-size: 12px;
    display: inline-block;
    width: 64px;
    margin-left: 2px;
}

.slot-box div {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}

.visit span {
    display: block;
    font-size: 12.5px;
    margin-bottom: 5px;
    font-weight: 700;
}

.visit input {
    padding-left: 5px;
}

.visit {
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #9c9c9c;
    width: 98%;
    margin-left: 5px;
}

.show-count-box {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.show-count-box .show-count {
    margin-right: 30px;
    padding: 7px 12px;
    font-size: 12px;
    border-radius: 7px;
    color: #FFF;
    background-color: #2177EE;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.show-count-box .show-count:hover {
    background-color: #1c62c1;
}

.show-count-box .other-buttons {
    border: none;
    background-color: inherit;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    margin: auto 15px;
    color: #424040;
}

.show-count-box .other-buttons:hover {
    color: #000000;
}

.settings-city-list, .settings-category-list, .settings-area-list {
    display: inline-block;
    border: 1px solid #afacac;
    position: absolute;
    list-style: none;
    padding: 0;
    top: 30px;
    background: white;
    width: 200px;
    left: 5px;
    text-align: left;
}

.settings-city-list li, .settings-category-list li, .settings-area-list li {
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    text-align: left;
    padding-left: 10px;
    word-wrap: break-word;
}

.settings-city-list li:hover, .settings-category-list li:hover, .settings-area-list li:hover {
    background: #2177EE;
    color: #FFF;
}

.hidden {
    display: none !important;
}

.city-list-box ul, .area-list-box ul {
    list-style: none;
    margin: 2px;
    border: 1px solid #afacac;
    padding: 0;
    height: 194px;
    overflow: auto;
}

.area-list-box ul li {
    padding: 7px 15px;
    border-bottom: 1px solid #afacac;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city-list-box ul li {
    border-bottom: 1px solid #afacac;
    font-size: 13px;
    padding: 3px 0;
}

.city-list-box ul li header, .city-list-box ul li section div {
    padding: 5px 15px !important;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city-list-box ul li section {
    margin-left: 20px;
}

.city-list-box ul li img, .area-list-box ul li img {
    width: 18px;
    cursor: pointer;
}

.area-selection-box, .date-range-selection-box, .save-segment-box, .error-message-box {
    display: inline-block;
    position: fixed;
    width: 300px;
    height: 400px;
    top: 15vh;
    left: calc(50vw - 180px);
    background: #FFF;
    padding: 20px;
    box-shadow: 5px 5px 25px #000;
}

.error-message-box {
    height: auto;
    top: calc(50vh - 60px);
}
    
.area-selection-box *, .date-range-selection-box *, .save-segment-box * {
    text-align: left;
}

.area-selection-box header span, .date-range-selection-box header span, .save-segment-box header span {
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
}

.area-selection-box header .selected-city label {
    font-size: 13px;
}

.area-selection-box header .selected-city span {
    font-size: 14px;
    margin-left: 5px;
}

.area-input-box label, .date-range-selection-box label, .save-segment-box label {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}

.area-input-box input {
    line-height: 21px;
    padding-left: 7px;
    width: 222px;
}

.area-input-box div {
    display: flex;
    justify-content: space-between;
}

.area-selection-box .area-list-box {
    height: 200px;
    border: 1px solid #afacac;
    margin-top: 15px;
}

.area-select-box, .save-button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.area-select-box button, .date-range-selection-box .cancel-date, .date-range-selection-box .select-date, .save-button-box button, .error-message-box .hide-alert  {
    cursor: pointer;    
    font-size: 12px;
    font-weight: 700;
    border: none;
}

.area-select-box button.clear, .save-button-box button.clear, .date-range-selection-box .cancel-date {
    margin-left: 20px;    
    background: #FFF;
    color: #424040;
}

.area-select-box button.clear:hover, .save-button-box button.clear:hover, .date-range-selection-box .cancel-date:hover {
    color: #000000;
}

.area-select-box button.select, .save-button-box button.select, .date-range-selection-box .select-date, .error-message-box .hide-alert {
    padding: 7px 12px;
    border-radius: 7px;
    color: #FFF;
    background-color: #2177EE;
}

.area-select-box button.select:hover, .save-button-box button.select:hover, .date-range-selection-box .select-date:hover, .error-message-box .hide-alert:hover {
    background-color: #1C62C1;
}

.settings-area-list {
    top: 110px;
    left: 20px;
    width: 222px;
}

.date-range-selection-box section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.date-range-selection-box header span {
    margin-bottom: 0;
}

.date-range-selection-box section div {
    flex-basis: 150px;
}

.date-range-selection-box {
    width: 390px;
    height: 180px;
    left: calc(50vw - 195px);
    top: calc(50vh - 90px);
}

.date-range-selection-box label {
    font-size: 12px;
}

.date-range-selection-box footer {
    text-align: right;
}

.settings-date-range p {
    display: inline;
}

.sidebar h2 {
    font-size: 16px;
    margin-left: 10px;
}

.sidebar .unique-gids, .sidebar .total-count {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 15px;
}

.sidebar .unique-gids .color, .sidebar .total-count .color {
    flex-basis: 20px;
    background: #F5A523;
    height: 20px;
    border: 1px solid #F5A523;
    border-radius: 4px;
    margin-top: -16px;
}

.sidebar .total-count .color {
    background: #498FE1;
    border: 1px solid #498FE1;
}

.sidebar span {
    display: block;
}

.sidebar .unique-gids .content, .sidebar .total-count .content {
    margin-left: 10px;
}

.sidebar .unique-gids .content .count, .sidebar .total-count .content .count {
    font-size: 22px;
}

.sidebar .unique-gids .content span, .sidebar .total-count .content span {
    font-size: 14px;
}

.sidebar .pie-chart {
    width: 63%;
    margin: 30px auto;
}

.save-segment-box {
    width: 360px;
    height: 275px;
}

.save-segment-box header {
    margin-bottom: 5px;
}

.save-segment-box label {
    margin-bottom: 10px;
}

.save-segment-box input {
    width: 100%;
    padding: 3px;
}

.save-segment-box div:last-child {
    margin-top: 10px;
}

.save-segment-box textarea {
    width: 100%;
    height: 60px;
    padding: 6px;
}

.settings .operations main .selector ul li header {
    font-weight: 500;
}