@import url("https://fonts.googleapis.com/css?family=Roboto");

body, * {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: left;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #263238;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .session {
  display: flex;
}
header .session img {
  cursor: pointer;
}
header .session span {
  font-size: 12px;
  margin: 5px 18px 0 0;
  color: #cfd8dc;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: inline-block;
  margin-left: 10px;
  min-width: 235px;
}
.logo div {
  margin-top: 6px;
}
.logo span {
  font-size: 14px;
  color: #90a4ae;
  font-family: Roboto, sans-serif;
}

.heading {
  margin: 7px 0 4px;
  display: flex;
}

.installed {
  display: flex;
  vertical-align: top;
}
.installed div {
  background-color: #37474f;
  display: flex;
  border-radius: 5px;
  min-width: 122px;
  min-height: 59px;
  margin: 0 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.installed div label {
  font-size: 12px;
  color: #90a4ae;
}
.installed div span {
  font-size: 18px;
  margin-top: 9px;
  color: #b0bec5;
}

.installed div label, .installed div span {
  display: block;
  text-align: center;
}

main .category {
  padding: 40px 40px 20px;
  background-color: #37474f;
}
main .category section {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .category section article {
  width: 32%;
  height: 270px;
  background: #546e7a;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin: 10px 0;
}
main .category section article figure {
  background: #455a64;
  height: 200px;
}
main .category section article figure.top-5-categories, main .category section article figure.phone-brand, main .category section article figure.static-city, main .category section article figure.income-segment {
  padding: 20px 6% 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .category section article figure.top-5-categories div, main .category section article figure.phone-brand div, main .category section article figure.static-city div, main .category section article figure.income-segment div {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
main .category section article figure.top-5-categories div .scale, main .category section article figure.phone-brand div .scale, main .category section article figure.static-city div .scale, main .category section article figure.income-segment div .scale {
  height: 10px;
  opacity: 0.63;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}
main .category section article figure.top-5-categories div:nth-child(1) .scale, main .category section article figure.phone-brand div:nth-child(1) .scale, main .category section article figure.static-city div:nth-child(1) .scale, main .category section article figure.income-segment div:nth-child(1) .scale {
  background: #9C1504;
}
main .category section article figure.top-5-categories div:nth-child(2) .scale, main .category section article figure.phone-brand div:nth-child(2) .scale, main .category section article figure.static-city div:nth-child(2) .scale, main .category section article figure.income-segment div:nth-child(2) .scale {
  background: #FF311B;
}
main .category section article figure.top-5-categories div:nth-child(3) .scale, main .category section article figure.phone-brand div:nth-child(3) .scale, main .category section article figure.static-city div:nth-child(3) .scale, main .category section article figure.income-segment div:nth-child(3) .scale {
  background: #DA7319;
}
main .category section article figure.top-5-categories div:nth-child(4) .scale, main .category section article figure.phone-brand div:nth-child(4) .scale, main .category section article figure.static-city div:nth-child(4) .scale, main .category section article figure.income-segment div:nth-child(4) .scale {
  background: #FFB357;
}
main .category section article figure.top-5-categories div:nth-child(5) .scale, main .category section article figure.phone-brand div:nth-child(5) .scale, main .category section article figure.static-city div:nth-child(5) .scale, main .category section article figure.income-segment div:nth-child(5) .scale {
  background: #FEFA3B;
}
main .category section article figure.top-5-categories label, main .category section article figure.phone-brand label, main .category section article figure.static-city label, main .category section article figure.income-segment label {
  font-size: 12px;
  color: #CFD8DC;
  flex-basis: 124px;
  text-align: right;
}
main .category section article figure.top-5-categories span, main .category section article figure.phone-brand span, main .category section article figure.static-city span, main .category section article figure.income-segment span {
  font-size: 12px;
  color: #ECEFF1;
  margin-left: 10px;
}
main .category section article figure.top-5-categories span.display-counter, main .category section article figure.phone-brand span.display-counter, main .category section article figure.static-city span.display-counter, main .category section article figure.income-segment span.display-counter {
  width: 30px;
  text-align: right;
  word-break: break-word;
}
main .category section article figure.phone-brand label {
  flex-basis: 40%;
}
main .category section article figure.lifestyle {
  padding: 25px 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .category section article figure.lifestyle label {
  font-size: 12px;
  color: #CFD8DC;
  text-align: right;
  flex-basis: 103px;
}
main .category section article figure.lifestyle span {
  font-size: 12px;
  color: #ECEFF1;
  margin-left: 10px;
}
main .category section article figure.lifestyle span.display-counter {
  width: 30px;
  word-break: break-word;
}
main .category section article figure.lifestyle .caste {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .category section article figure.lifestyle .caste div {
  display: flex;
  align-items: center;
}
main .category section article figure.lifestyle .caste div .color-box {
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}
main .category section article figure.lifestyle .caste div:nth-child(1) .color-box {
  background: #F5D44F;
}
main .category section article figure.lifestyle .caste div:nth-child(2) .color-box {
  background: #F6B755;
}
main .category section article figure.lifestyle .caste div:nth-child(3) .color-box {
  background: #EE7E73;
}
main .category section article figure.lifestyle .caste div:nth-child(4) .color-box {
  background: #6BB5E5;
}
main .category section article figure.lifestyle .caste div:nth-child(5) .color-box {
  background: #61C48C;
}
main .category section article figure.lifestyle .donut-chart {
  width: 172px;
}
main .category section article figure.static-city label, main .category section article figure.income-segment label {
  flex-basis: 70px;
}
main .category section article figure.income-segment {
  padding: 15px 4% 20px;
  flex-wrap: wrap;
}
main .category section article figure.income-segment div {
  flex-basis: 20%;
}
main .category section article figure.income-segment div span {
  margin-left: 5px;
}
main .category section article figure.income-segment div:nth-child(1) .scale {
  background: #9C1504;
}
main .category section article figure.income-segment div:nth-child(2) .scale {
  background: #FF311B;
}
main .category section article figure.income-segment div:nth-child(3) .scale {
  background: #DA7319;
}
main .category section article figure.income-segment div:nth-child(4) .scale {
  background: #FFB357;
}
main .category section article figure.income-segment div:nth-child(5) .scale {
  background: #FEFA3B;
}
main .category section article figure.income-segment div:nth-child(6) .scale {
  background: #DAD72F;
}
main .category section article figure.income-segment div:nth-child(7) .scale {
  background: #06C5F2;
}
main .category section article figure.income-segment div:nth-child(8) .scale {
  background: #0591CF;
}
main .category section article figure.income-segment div:nth-child(9) .scale {
  background: #16F449;
}
main .category section article figure.income-segment div:nth-child(10) .scale {
  background: #00A71F;
}
main .category section article figure.age-gender {
  display: flex;
  padding: 15px 6% 10px;
}
main .category section article figure.age-gender * {
  text-align: center;
}
main .category section article figure.age-gender .age-gender__child {
  flex-grow: 1;
  margin: 0 3px;
}
main .category section article figure.age-gender .scaled-value {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6px;
  height: 100px;
  align-items: flex-end;
}
main .category section article figure.age-gender .scaled-value span {
  display: block;
  width: 16px;
  margin: auto;
  border: 1px solid #BDBDBD;
  margin-bottom: 9px;
}
main .category section article figure.age-gender .scaled-value .male span {
  background: #6BB5E5;
}
main .category section article figure.age-gender .scaled-value .female span {
  background: #F8BBD0;
}
main .category section article figure.age-gender img.man {
  display: inline-block;
  margin-right: 22%;
}
main .category section article figure.age-gender span, main .category section article figure.age-gender label {
  font-size: 12px;
  display: block;
}
main .category section article figure.age-gender label {
  color: #ECEFF1;
}
main .category section article figure.age-gender .desc {
  color: #CFD8DC;
  margin-top: 2px;
  margin-bottom: 8px;
}
main .category section article figcaption {
  padding: 12px 0 10px 20px;
  box-sizing: border-box;
}
main .category section article figcaption span {
  display: block;
  font-size: 14px;
  color: #b0bec5;
  margin-bottom: 7px;
}
main .category section article figcaption label {
  font-size: 16px;
}
main .segments {
  background-color: #263238;
  padding: 50px 40px 20px;
}
main .segments section {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-gap: 10px;
  margin-top: 6px;
}
main .segments section article {
  margin: 5px 0;
  background-color: #37474f;
  box-sizing: border-box;
  padding: 10px;
}
main .segments section article.create-segment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .segments section article.create-segment a {
  background-color: #455a64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  height: 50%;
}
main .segments section article.create-segment a:first-child {
  margin-bottom: 10px;
}
main .segments section article.create-segment a img {
  margin: 0 auto;
}
main .segments section article.create-segment a span {
  font-family: Roboto, sans-serif;
  font-size: 17px;
  line-height: 20px;
  max-width: 122px;
  padding-left: 12px;
  box-sizing: border-box;
  color: #78909c;
}
main .segments section article.segment-card div {
  position: relative;
}
main .segments section article.segment-card div summary {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
main .segments section article.segment-card div summary label {
  font-size: 14px;
}
main .segments section article.segment-card div summary span {
  font-size: 20px;
  font-weight: 700;
  display: block;
}
main .segments section article.segment-card div img {
  opacity: 0.5;
  width: 100%;
  height: 50%;
}
main .segments section article.segment-card div img.hamburger {
  opacity: 1;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
main .segments section article.segment-card p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #cfd8dc;
  text-align: left;
  line-height: 16px;
  margin: 5px 0 10px;
}
main h2 {
  font-size: 24px;
  color: #b0bec5;
}

.demographic-segmentation {
  background-color: #37474F;
  display: flex;
}
.demographic-segmentation main {
  max-width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.demographic-segmentation main .query {
  flex-basis: 78%;
}
.demographic-segmentation main .query h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #B0BEC5;
  border-bottom: 1px solid #607D8B;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.demographic-segmentation main .query p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #B0BEC5;
  line-height: 24px;
}
.demographic-segmentation main .query .action {
  display: flex;
  max-width: 70%;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: auto;
  align-items: center;
}
.demographic-segmentation main .query .action a, .demographic-segmentation main .query .action button.show-count {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #03A9F4;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}
.demographic-segmentation main .query .action button.show-count {
  padding: 7px 12px;
  border-radius: 7px;
  background-color: #2177ee;
  border: none;
  font-weight: normal;
  cursor: pointer;
  color: #FFFFFF;
}
.demographic-segmentation main .query__block {
  padding-left: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
}
.demographic-segmentation main .query__block h3 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #CFD8DC;
  line-height: 20px;
}
.demographic-segmentation main .query__block__age-gender, .demographic-segmentation main .query__block__category-city, .demographic-segmentation main .query__block__income-affinity, .demographic-segmentation main .query__block__phone-language {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
.demographic-segmentation main .query__block__age-gender__block, .demographic-segmentation main .query__block__category-city__block, .demographic-segmentation main .query__block__income-affinity__block, .demographic-segmentation main .query__block__phone-language__block {
  width: 45%;
}
.demographic-segmentation main .query__block__age-gender h4, .demographic-segmentation main .query__block__category-city h4, .demographic-segmentation main .query__block__income-affinity h4, .demographic-segmentation main .query__block__phone-language h4 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #CFD8DC;
  line-height: 20px;
}
.demographic-segmentation main .query__block__category-city, .demographic-segmentation main .query__block__income-affinity, .demographic-segmentation main .query__block__phone-language {
  justify-content: space-between;
}
.demographic-segmentation main .query__block__category-city__block ul, .demographic-segmentation main .query__block__income-affinity__block ul, .demographic-segmentation main .query__block__phone-language__block ul {
  list-style: none;
  margin-top: 8px;
  background: #B0BEC5;
  border: 1px solid #979797;
  padding: 5px;
  height: 213px;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 5px;
}
.demographic-segmentation main .query__block__category-city__block ul.city-list, .demographic-segmentation main .query__block__category-city__block ul.category-list, .demographic-segmentation main .query__block__income-affinity__block ul.city-list, .demographic-segmentation main .query__block__income-affinity__block ul.category-list, .demographic-segmentation main .query__block__phone-language__block ul.city-list, .demographic-segmentation main .query__block__phone-language__block ul.category-list {
  position: absolute;
  top: 28px;
  min-width: 63%;
  max-height: 213px;
  height: auto;
  padding: 0;
  z-index: 1;
}
.demographic-segmentation main .query__block__category-city__block ul.city-list li, .demographic-segmentation main .query__block__category-city__block ul.category-list li, .demographic-segmentation main .query__block__income-affinity__block ul.city-list li, .demographic-segmentation main .query__block__income-affinity__block ul.category-list li, .demographic-segmentation main .query__block__phone-language__block ul.city-list li, .demographic-segmentation main .query__block__phone-language__block ul.category-list li {
  padding: 7px 10px;
  color: #4A4A4A;
  cursor: pointer;
}
.demographic-segmentation main .query__block__category-city__block ul.city-list li:hover, .demographic-segmentation main .query__block__category-city__block ul.category-list li:hover, .demographic-segmentation main .query__block__income-affinity__block ul.city-list li:hover, .demographic-segmentation main .query__block__income-affinity__block ul.category-list li:hover, .demographic-segmentation main .query__block__phone-language__block ul.city-list li:hover, .demographic-segmentation main .query__block__phone-language__block ul.category-list li:hover {
  background: #2177EE;
  color: #FFF;
}
.demographic-segmentation main .query__block__category-city__block ul li header, .demographic-segmentation main .query__block__income-affinity__block ul li header, .demographic-segmentation main .query__block__phone-language__block ul li header {
  background: inherit;
  padding: 7px 10px;
}
.demographic-segmentation main .query__block__category-city__block ul li img, .demographic-segmentation main .query__block__income-affinity__block ul li img, .demographic-segmentation main .query__block__phone-language__block ul li img {
  cursor: pointer;
}
.demographic-segmentation main .query__block__category-city__block ul li section, .demographic-segmentation main .query__block__income-affinity__block ul li section, .demographic-segmentation main .query__block__phone-language__block ul li section {
  padding-left: 30px;
}
.demographic-segmentation main .query__block__category-city__block ul li section div, .demographic-segmentation main .query__block__income-affinity__block ul li section div, .demographic-segmentation main .query__block__phone-language__block ul li section div {
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
}
.demographic-segmentation main .query__block__category-city__block ul li span, .demographic-segmentation main .query__block__income-affinity__block ul li span, .demographic-segmentation main .query__block__phone-language__block ul li span {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #4A4A4A;
  text-align: left;
  cursor: pointer;
}
.demographic-segmentation main .query__block__category-city__block .input-box, .demographic-segmentation main .query__block__income-affinity__block .input-box, .demographic-segmentation main .query__block__phone-language__block .input-box {
  display: flex;
  margin-top: 10px;
  height: 36px;
  position: relative;
}
.demographic-segmentation main .query__block__category-city__block .input-box input, .demographic-segmentation main .query__block__income-affinity__block .input-box input, .demographic-segmentation main .query__block__phone-language__block .input-box input {
  line-height: 21px;
  flex-basis: 63%;
  padding-left: 7px;
  color: #4A4A4A;
  border-radius: 5px;
  border-width: 0;
  font-size: 14px;
}
.demographic-segmentation main .query__block__category-city__block .input-box .add, .demographic-segmentation main .query__block__income-affinity__block .input-box .add, .demographic-segmentation main .query__block__phone-language__block .input-box .add {
  margin-left: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 28px;
  background-color: #2177ee;
  border-width: 0;
  cursor: pointer;
  width: 12%;
  text-align: center;
}
.demographic-segmentation main .query__block__category-city__block .input-box .show, .demographic-segmentation main .query__block__income-affinity__block .input-box .show, .demographic-segmentation main .query__block__phone-language__block .input-box .show {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin-left: auto;
  color: #2177ee;
  cursor: pointer;
  max-width: 27%;
  align-self: center;
  text-align: center;
}
.demographic-segmentation main .query__block__age-gender section {
  width: 45%;
}
.demographic-segmentation main .query__block__age-gender__age-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.demographic-segmentation main .query__block__age-gender__gender-block, .demographic-segmentation main .query__block__age-gender__age-block {
  margin-top: 8px;
}
.demographic-segmentation main .query__block__age-gender__gender-block div, .demographic-segmentation main .query__block__age-gender__age-block div {
  flex-basis: 33%;
  display: flex;
  align-items: center;
}
.demographic-segmentation main .query__block__age-gender__gender-block div label, .demographic-segmentation main .query__block__age-gender__age-block div label {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #ECEFF1;
  line-height: 20px;
  margin-left: 5px;
  letter-spacing: 1px;
}
.demographic-segmentation main .query__block__age-gender__gender-block div label.check-gender.checked, .demographic-segmentation main .query__block__age-gender__gender-block div label.check-age.checked, .demographic-segmentation main .query__block__age-gender__age-block div label.check-gender.checked, .demographic-segmentation main .query__block__age-gender__age-block div label.check-age.checked {
  color: #2177EE;
  font-weight: 700;
}
.demographic-segmentation main .query__block__age-gender__gender-block div input, .demographic-segmentation main .query__block__age-gender__age-block div input {
  cursor: pointer;
}
.demographic-segmentation main .query__block__income-affinity__block ul li, .demographic-segmentation main .query__block__phone-language__block ul li {
  padding: 7px 10px;
  display: flex;
  align-items: center;
}
.demographic-segmentation main .query__block__income-affinity__block ul li .checkbox, .demographic-segmentation main .query__block__phone-language__block ul li .checkbox {
  display: inline-flex;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.demographic-segmentation main .query__block__income-affinity__block ul li .checkbox input, .demographic-segmentation main .query__block__phone-language__block ul li .checkbox input {
  cursor: pointer;
}
.demographic-segmentation main .query__block__phone-language__block ul.phone li {
  display: block;
  padding: 0;
}
.demographic-segmentation main .query__block__phone-language__block ul.language {
  height: 259px;
}
.demographic-segmentation main .query__block__phone-language__block ul.language li {
  padding: 7px 10px;
}
.demographic-segmentation main .query__block__phone-language__block ul.language li span.check-language.checked {
  color: #2177EE;
}
.demographic-segmentation main .result, .demographic-segmentation main .sidebar {
  background-color: #455A64;
  display: inline-block;
  max-width: 22%;
  padding: 30px 25px;
}
.demographic-segmentation main .result h2, .demographic-segmentation main .sidebar h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #B0BEC5;
  text-align: left;
  line-height: 20px;
  font-weight: normal;
}
.demographic-segmentation main .result .total-count, .demographic-segmentation main .result .unique-count, .demographic-segmentation main .sidebar .total-count, .demographic-segmentation main .sidebar .unique-count {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.demographic-segmentation main .result .total-count span, .demographic-segmentation main .result .unique-count span, .demographic-segmentation main .sidebar .total-count span, .demographic-segmentation main .sidebar .unique-count span {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #CFD8DC;
  text-align: left;
  line-height: 20px;
}
.demographic-segmentation main .result .total-count .content .count, .demographic-segmentation main .result .unique-count .content .count, .demographic-segmentation main .sidebar .total-count .content .count, .demographic-segmentation main .sidebar .unique-count .content .count {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #ECEFF1;
  margin-bottom: 3px;
}
.demographic-segmentation main .result .total-count .color, .demographic-segmentation main .result .unique-count .color, .demographic-segmentation main .sidebar .total-count .color, .demographic-segmentation main .sidebar .unique-count .color {
  background: #F7B342;
  border-radius: 3px;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  margin-right: 10px;
}
.demographic-segmentation main .result .unique-count, .demographic-segmentation main .sidebar .unique-count {
  margin-bottom: 30px;
}
.demographic-segmentation main .result .unique-count .color, .demographic-segmentation main .sidebar .unique-count .color {
  background: #4A90E2;
}

body::-webkit-scrollbar, ul::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
  background: #546e7a;
}
body::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
  background-color: #37474f;
  border-radius: 5px;
}

ul::-webkit-scrollbar-track {
  background: #B0BEC5;
}
ul::-webkit-scrollbar-thumb {
  background-color: #D8D8D8;
}

body::-webkit-scrollbar-thumb {
  border: 1px solid #263238;
}

/* Extra new CSS*/
.trapyz-hamburger-menu {
  position: absolute !important;
  display: none;
  background: white;
  top: 24%;
  right: 5%;
  border-radius: 4px;
  font-size: 12px;
  z-index: 99;
}
.trapyz-hamburger-menu-item {
  padding: 5px 25px;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
  text-align: center;
}
.trapyz-hamburger-menu-item:hover {
  background: #8749FF;
  color: #fff;
  transition: 0.5s;
}

.inactive:hover {
  background-color: #6B6B6B;
  color: #FFFFFF;
  cursor: not-allowed;
}

.my-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.area-list-box ul {
  list-style: none;
  padding: 0;
  height: 194px;
  overflow: auto;
  background: #B0BEC5;
}
.area-list-box ul li {
  padding: 7px 15px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.area-list-box ul li span {
  color: #4A4A4A;
}
.area-list-box ul li img {
  width: 18px;
  cursor: pointer;
}

.area-selection-box {
  display: inline-block;
  position: fixed;
  width: 300px;
  height: 400px;
  top: 15vh;
  left: calc(50vw - 180px);
  background: #37474F;
  padding: 20px;
  box-shadow: 5px 5px 25px #000;
  color: #CFD8DC;
}
.area-selection-box * {
  text-align: left;
  color: #CFD8DC;
}
.area-selection-box .area-list-box {
  height: 200px;
  margin-top: 15px;
}
.area-selection-box .header span {
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}
.area-selection-box .header .selected-city label {
  font-size: 13px;
}
.area-selection-box .header .selected-city span {
  font-size: 14px;
  margin-left: 5px;
}

.area-input-box label {
  font-size: 13px;
  margin-bottom: 10px;
  display: block;
}
.area-input-box input {
  line-height: 21px;
  padding-left: 7px;
  min-width: 222px;
  color: #4A4A4A;
}
.area-input-box div {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.area-input-box .add {
  margin-left: 10px;
  border-radius: 5px;
  color: #FFF;
  font-size: 28px;
  line-height: 25px;
  background-color: #2177EE;
  border-width: 0;
  cursor: pointer;
  padding: 1px 6px;
}
.area-input-box .add:hover {
  background-color: #1C62C1;
}

.area-select-box, .save-button-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.area-select-box button, .date-range-selection-box .cancel-date, .date-range-selection-box .select-date, .save-button-box button, .error-message-box .hide-alert {
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  border: none;
}

.area-select-box button.clear, .save-button-box button.clear, .date-range-selection-box .cancel-date {
  margin-left: 20px;
  background: inherit;
  color: #03A9F4;
}

.area-select-box button.select, .save-button-box button.select, .date-range-selection-box .select-date, .error-message-box .hide-alert {
  padding: 7px 12px;
  border-radius: 7px;
  color: #FFF;
  background-color: #2177EE;
}
.area-select-box button.select:hover, .save-button-box button.select:hover, .date-range-selection-box .select-date:hover, .error-message-box .hide-alert:hover {
  background-color: #1C62C1;
}

.settings-area-list {
  display: inline-block;
  border: 1px solid #afacac;
  position: absolute;
  list-style: none;
  padding: 0;
  top: 27px;
  background: #B0BEC5;
  text-align: left;
  min-width: 222px;
}
.settings-area-list.custom {
  top: 127px;
}
.settings-area-list li {
  cursor: pointer;
  font-size: 13px;
  padding: 5px;
  text-align: left;
  padding-left: 10px;
  word-wrap: break-word;
  color: #4A4A4A;
}
.settings-area-list li:hover {
  background: #2177EE;
  color: #FFF;
}

.hidden {
  display: none !important;
}

/*# sourceMappingURL=TrapyzHomePageNew.css.map */
