@import url('https://fonts.googleapis.com/css?family=Roboto');

body, * {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: left;
  font-family: sans-serif;
}

header {
  background-color: #263238;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .session {
    display: flex;

    img {
      cursor: pointer;
    }

    span {
      font-size: 12px;
      margin: 5px 18px 0 0;
      color: rgba(207, 216, 220, 1);
    }
  }
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: inline-block;
  margin-left: 10px;
  min-width: 235px;

  div {
    margin-top: 6px;
  }

  span {
    font-size: 14px;
    color: rgba(144, 164, 174, 1);
    font-family: ArialMT, sans-serif;
  }
}

.heading {
  margin: 7px 0 4px;
  display: flex;
}

.installed {
  display: flex;
  vertical-align: top;

  div {
    background-color: #37474f;
    display: flex;
    border-radius: 5px;
    min-width: 122px;
    min-height: 59px;
    margin: 0 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      font-size: 12px;
      color: rgba(144, 164, 174, 1);
    }

    span {
      font-size: 18px;
      margin-top: 9px;
      color: rgba(176, 190, 197, 1);
    }
  }
}

.installed div label, .installed div span {
  display: block;
  text-align: center;
}

main {
  .category {
    padding: 40px 40px 20px;
    background-color: rgba(55, 71, 79, 1);

    section {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      article {
        width: 32%;
        height: 270px;
        background: #546e7a;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        border-radius: 2px;
        margin: 10px 0;

        figure {
          background: #455a64;
          height: 200px;

          &.top-5-categories, &.phone-brand, &.static-city, &.income-segment {
            padding: 20px 6% 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
              display: flex;
              flex-grow: 1;
              align-items: center;

              .scale {
                height: 10px;
                opacity: 0.63;
                border: 1px solid #BDBDBD;
                border-radius: 3px;
              }

              &:nth-child(1) .scale {
                background: #9C1504;
              }

              &:nth-child(2) .scale {
                background: #FF311B;
              }

              &:nth-child(3) .scale {
                background: #DA7319;
              }

              &:nth-child(4) .scale {
                background: #FFB357;
              }

              &:nth-child(5) .scale {
                background: #FEFA3B;
              }
            }

            label {
              font-size: 12px;
              color: #CFD8DC;
              flex-basis: 124px;
              text-align: right;
            }

            span {
              font-size: 12px;
              color: #ECEFF1;
              margin-left: 10px;

              &.display-counter {
                width: 30px;
                text-align: right;
                word-break: break-word;
              }
            }
          }

          &.phone-brand {
            label {
              flex-basis: 40%;
            }
          }

          &.lifestyle {
            padding: 25px 6%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {
              font-size: 12px;
              color: #CFD8DC;
              text-align: right;
              flex-basis: 103px;
            }

            span {
              font-size: 12px;
              color: #ECEFF1;
              margin-left: 10px;

              &.display-counter {
                width: 30px;
                word-break: break-word;
              }
            }

            .caste {
              align-self: stretch;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              div {
                display: flex;
                align-items: center;

                .color-box {
                  border: 1px solid #BDBDBD;
                  border-radius: 3px;
                  width: 10px;
                  height: 10px;
                }

                &:nth-child(1) .color-box {
                  background: #F5D44F;
                }

                &:nth-child(2) .color-box {
                  background: #F6B755;
                }

                &:nth-child(3) .color-box {
                  background: #EE7E73;
                }

                &:nth-child(4) .color-box {
                  background: #6BB5E5;
                }

                &:nth-child(5) .color-box {
                  background: #61C48C;
                }
              }
            }

            .donut-chart {
              width: 172px;
            }
          }

          &.static-city, &.income-segment {
            label {
              flex-basis: 70px;
            }
          }

          &.income-segment {
            padding: 15px 4% 20px;
            flex-wrap: wrap;

            div {
              flex-basis: 20%;

              span {
                margin-left: 5px;
              }

              &:nth-child(1) .scale {
                background: #9C1504;
              }

              &:nth-child(2) .scale {
                background: #FF311B;
              }

              &:nth-child(3) .scale {
                background: #DA7319;
              }

              &:nth-child(4) .scale {
                background: #FFB357;
              }

              &:nth-child(5) .scale {
                background: #FEFA3B;
              }

              &:nth-child(6) .scale {
                background: #DAD72F;
              }

              &:nth-child(7) .scale {
                background: #06C5F2;
              }

              &:nth-child(8) .scale {
                background: #0591CF;
              }

              &:nth-child(9) .scale {
                background: #16F449;
              }

              &:nth-child(10) .scale {
                background: #00A71F;
              }
            }
          }

          &.age-gender {
            display: flex;
            padding: 15px 6% 10px;

            * {
              text-align: center;
            }

            .age-gender__child {
              flex-grow: 1;
              margin: 0 3px;
            }

            .scaled-value {
              display: flex;
              justify-content: space-around;
              margin-bottom: 6px;
              height: 100px;
              align-items: flex-end;

              span {
                display: block;
                width: 16px;
                margin: auto;
                border: 1px solid #BDBDBD;
                margin-bottom: 9px;
              }

              .male span {
                background: #6BB5E5;
              }

              .female span {
                background: #F8BBD0;
              }
            }

            img.man {
              display: inline-block;
              margin-right: 22%;
            }

            span, label {
              font-size: 12px;
              display: block;
            }

            label {
              color: #ECEFF1;
            }

            .desc {
              color: #CFD8DC;
              margin-top: 2px;
              margin-bottom: 8px;
            }
          }
        }

        figcaption {
          padding: 12px 0 10px 20px;
          box-sizing: border-box;

          span {
            display: block;
            font-size: 14px;
            color: rgba(176, 190, 197, 1);
            margin-bottom: 7px;
          }

          label {
            font-size: 16px;
          }
        }
      }
    }
  }

  .segments {
    background-color: rgba(38, 50, 56, 1);
    padding: 50px 40px 20px;

    section {
      display: grid;
      grid-template-columns: 16% 16% 16% 16% 16% 16%;
      grid-gap: 10px;
      margin-top: 6px;

      article {
        margin: 5px 0;
        background-color: #37474f;
        box-sizing: border-box;
        padding: 10px;

        &.create-segment {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          a {
            background-color: #455a64;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;
            height: 50%;

            &:first-child {
              margin-bottom: 10px;
            }

            img {
              margin: 0 auto;
            }

            span {
              font-family: ArialMT, sans-serif;
              font-size: 17px;
              line-height: 20px;
              max-width: 122px;
              padding-left: 12px;
              box-sizing: border-box;
              color: #78909c;
            }
          }
        }

        &.segment-card {
          div {
            position: relative;

            summary {
              position: absolute;
              bottom: 5%;
              left: 5%;

              label {
                font-size: 14px;
              }

              span {
                font-size: 20px;
                font-weight: 700;
                display: block;
              }
            }

            img {
              opacity: 0.5;
              width: 100%;
              height: 50%;

              &.hamburger {
                opacity: 1;
                position: absolute;
                top: 5%;
                right: 5%;
                cursor: pointer;
                width: 20px;
                height: 20px;
              }
            }
          }

          p {
            font-family: ArialMT, sans-serif;
            font-size: 14px;
            color: #cfd8dc;
            text-align: left;
            line-height: 16px;
            margin: 5px 0 10px;
          }
        }
      }
    }
  }

  h2 {
    font-size: 24px;
    color: rgba(176, 190, 197, 1);
  }
}

.demographic-segmentation {
  background-color: #37474F;
  display: flex;

  main {
    max-width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

    .query {
      flex-basis: 78%;

      h2 {
        font-family: Helvetica-Bold, sans-serif;
        font-size: 24px;
        color: #B0BEC5;
        border-bottom: 1px solid #607D8B;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }

      p {
        font-family: Helvetica, sans-serif;
        font-size: 14px;
        color: #B0BEC5;
        line-height: 24px;
      }

      .action {
        display: flex;
        max-width: 70%;
        justify-content: space-around;
        margin-top: 20px;
        margin-left: auto;
        align-items: center;

        a, button.show-count {
          font-family: Roboto-Medium, sans-serif;
          font-size: 14px;
          color: #03A9F4;
          line-height: 16px;
          text-decoration: none;
        }

        button.show-count {
          padding: 7px 12px;
          border-radius: 7px;
          background-color: #2177ee;
          border: none;
          font-weight: normal;
          cursor: pointer;
          color: #FFFFFF;
        }
      }

      &__block {
        padding-left: 15px;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #979797;

        h3 {
          font-family: Helvetica, sans-serif;
          font-size: 18px;
          color: #CFD8DC;
          line-height: 20px;
        }

        &__age-gender, &__category-city, &__income-affinity, &__phone-language {
          margin-top: 18px;
          display: flex;

          &__block {
            width: 45%;
          }

          h4 {
            font-family: Helvetica, sans-serif;
            font-size: 14px;
            color: #CFD8DC;
            line-height: 20px;
          }
        }

        &__category-city, &__income-affinity, &__phone-language {
          justify-content: space-between;

          &__block {
            ul {
              list-style: none;
              margin-top: 8px;
              background: #B0BEC5;
              border: 1px solid #979797;
              padding: 5px;
              height: 213px;
              overflow: auto;
              box-sizing: border-box;
              border-radius: 5px;

              &.city-list, &.category-list {
                position: absolute;
                top: 28px;
                min-width: 63%;
                max-height: 213px;
                height: auto;
                padding: 0;
                z-index: 1;

                li {
                  padding: 7px 10px;
                  color: #4A4A4A;
                  cursor: pointer;
                }
              }

              li {
                header {
                  background: inherit;
                  padding: 7px 10px;
                }

                img {
                  cursor: pointer;
                }

                section {
                  padding-left: 30px;

                  div {
                    padding: 7px 10px;
                    display: flex;
                    justify-content: space-between;
                  }
                }

                span {
                  font-family: Roboto-Regular, sans-serif;
                  font-size: 16px;
                  color: #4A4A4A;
                  text-align: left;
                  cursor: pointer;
                }
              }
            }

            .input-box {
              display: flex;
              margin-top: 10px;
              height: 36px;
              position: relative;

              input {
                line-height: 21px;
                flex-basis: 63%;
                padding-left: 7px;
                color: #4A4A4A;
                border-radius: 5px;
                border-width: 0;
              }

              .add {
                margin-left: 10px;
                border-radius: 5px;
                color: #fff;
                font-size: 28px;
                background-color: #2177ee;
                border-width: 0;
                cursor: pointer;
                width: 12%;
                text-align: center;
              }

              .show {
                font-size: 12px;
                font-family: Roboto-Medium, sans-serif;
                margin-left: auto;
                color: #2177ee;
                cursor: pointer;
                max-width: 27%;
                align-self: center;
                text-align: center;
              }
            }
          }
        }

        &__age-gender {
          section {
            width: 45%;
          }

          &__age-block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }

          &__gender-block, &__age-block {
            margin-top: 8px;

            div {
              flex-basis: 33%;
              display: flex;
              align-items: center;

              label {
                font-family: Helvetica, sans-serif;
                font-size: 14px;
                color: #ECEFF1;
                line-height: 20px;
                margin-left: 5px;
                letter-spacing: 1px;


                &.check-gender, &.check-age {
                  &.checked {
                    color: #2177EE;
                    font-weight: 700;
                  }
                }
              }

              input {
                cursor: pointer;
              }
            }
          }
        }

        &__income-affinity, &__phone-language {
          &__block {
            ul li {
              padding: 7px 10px;
              display: flex;
              align-items: center;

              .checkbox {
                display: inline-flex;
                border: 1px solid #010101;
                border-radius: 2px;
                width: 12px;
                height: 12px;
                margin-right: 10px;

                input {
                  cursor: pointer;
                }
              }
            }
          }
        }

        &__phone-language__block {
          ul.phone li {
            display: block;
            padding: 0;
          }

          ul.language {
            height: 259px;

            li {
              padding: 7px 10px;

              span.check-language.checked {
                color: #2177EE;
                // font-weight: 700;
              }
            }
          }
        }
      }
    }

    .result, .sidebar {
      background-color: #455A64;
      display: inline-block;
      max-width: 22%;
      padding: 30px 25px;

      h2 {
        font-family: Helvetica, sans-serif;
        font-size: 24px;
        color: #B0BEC5;
        text-align: left;
        line-height: 20px;
        font-weight: normal;
      }

      .total-count, .unique-count {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;

        span {
          display: block;
          font-family: Roboto-Regular, sans-serif;
          font-size: 14px;
          color: #CFD8DC;
          text-align: left;
          line-height: 20px;
        }

        .content .count {
          font-family: Roboto-Medium, sans-serif;
          font-size: 24px;
          color: #ECEFF1;
          margin-bottom: 3px;
        }

        .color {
          background: #F7B342;
          border-radius: 3px;
          height: 16px;
          width: 16px;
          margin-top: 3px;
          margin-right: 10px;
        }
      }

      .unique-count {
        margin-bottom: 30px;

        .color {
          background: #4A90E2;
        }
      }
    }
  }
}

body, ul {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #546e7a;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #37474f;
    border-radius: 5px;
  }
}

ul {
  &::-webkit-scrollbar-track {
    background: #B0BEC5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D8D8D8;
  }
}

body {
  &::-webkit-scrollbar-thumb {
    border: 1px solid #263238;
  }
}

/* Extra new CSS*/

.trapyz-hamburger-menu {
  position: absolute !important;
  display: none;
  background: white;
  top: 24%;
  right: 5%;
  border-radius: 4px;
  font-size: 12px;
  z-index: 99;

  &-item {
    padding: 5px 25px;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    text-align: center;

    &:hover {
      background: #8749FF;
      color: #fff;
      transition: 0.5s;
    }
  }
}

.inactive:hover {
  background-color: #6B6B6B;
  color: #FFFFFF;
  cursor: not-allowed;
}

.my-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.area-list-box ul {
  list-style: none;
  padding: 0;
  height: 194px;
  overflow: auto;
  background: #B0BEC5;

  li {
    padding: 7px 15px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: #4A4A4A;
    }

    img {
      width: 18px;
      cursor: pointer;
    }
  }
}

.area-selection-box {
  display: inline-block;
  position: fixed;
  width: 300px;
  height: 400px;
  top: 15vh;
  left: calc(50vw - 180px);
  background: #37474F;
  padding: 20px;
  box-shadow: 5px 5px 25px #000;
  color: #CFD8DC;

  * {
    text-align: left;
    color: #CFD8DC;
  }

  .area-list-box {
    height: 200px;
    margin-top: 15px;
  }

  .header {
    span {
      font-weight: 700;
      margin-bottom: 10px;
      display: inline-block;
    }

    .selected-city {
      label {
        font-size: 13px;
      }

      span {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

.area-input-box {
  label {
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
  }

  input {
    line-height: 21px;
    padding-left: 7px;
    min-width: 222px;
    color: #4A4A4A;
  }

  div {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .add {
    margin-left: 10px;
    border-radius: 5px;
    color: #FFF;
    font-size: 28px;
    line-height: 25px;
    background-color: #2177EE;
    border-width: 0;
    cursor: pointer;
    padding: 1px 6px;

    &:hover {
      background-color: #1C62C1;
    }
  }
}

.area-select-box, .save-button-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.area-select-box button, .date-range-selection-box .cancel-date, .date-range-selection-box .select-date, .save-button-box button, .error-message-box .hide-alert  {
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  border: none;
}

.area-select-box button.clear, .save-button-box button.clear, .date-range-selection-box .cancel-date {
  margin-left: 20px;
  background: inherit;
  color: #03A9F4;
}

.area-select-box button.clear:hover, .save-button-box button.clear:hover, .date-range-selection-box .cancel-date:hover {
    // color: #000000;
}

.area-select-box button.select, .save-button-box button.select, .date-range-selection-box .select-date, .error-message-box .hide-alert {
  padding: 7px 12px;
  border-radius: 7px;
  color: #FFF;
  background-color: #2177EE;

  &:hover {
    background-color: #1C62C1;
  }
}

.settings-area-list {
  display: inline-block;
  border: 1px solid #afacac;
  position: absolute;
  list-style: none;
  padding: 0;
  top: 27px;
  background: #B0BEC5;
  // width: 200px;
  text-align: left;
  min-width: 222px;

  &.custom {
    top: 127px;
  }

  li {
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    text-align: left;
    padding-left: 10px;
    word-wrap: break-word;
    color: #4A4A4A;

    &:hover {
      background: #2177EE;
      color: #FFF;
    }
  }
}

.hidden {
  display: none !important;
}
