@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;

}

#root {
  overflow-x: hidden;
}

/* .trapyz-main-container {
  width: 98vw;
  text-align: left;
  overflow: hidden;
} */

.trapyz-info-panel {
  width: 50%;
  height: 100vh;
  background: #263238;
  padding: 5vmin 5vmin;
  display: inline-block;
}

.trapyz-login-panel {
  width: 50%;
  height: 100vh;
  display: inline-block;
  background: #37474f;
}

.trapyz-logo-container {
  width: 100%;
}

.trapyz-logo-image {
  width: 18vw;
}

.trapyz-version {
  color: #90a4ae;
  font-size: 22px;
}

.trapyz-login-page .trapyz-description-div {
  margin: 3vh 0 0 0;
  text-align: justify;
  color: #90a4ae;
  font-size: 14px;
  line-height: 28px;
}

.trapyz-feature-div {
  margin: 6vh 0 0 0;
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: none;
}

.trapyz-feature-list {
  margin: 2vh 0 0 0;
  color: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  font-weight: 100;
  display: none;
}

.trapyz-contact-image {
  width: 100%;
}

.trapyz-contact-div {
  display: inline-block;
  color: #fff;
  margin: 20vh 0 0 0;
  font-size: 14px;
}

.trapyz-contact-logo-div {
  display: flex;
  margin: 2vh 0 0 0;
}

.trapyz-main-logo-container {
  margin: 10vh 0 0 0;
  text-align: center;
}

.trapyz-login-main-logo {
  display: inline-block;
  width: 14vw;
  opacity: 0;
}

.trapyz-contact-logo-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: #3c35a5;
  padding: 8px;
  margin: 1vmin;
  cursor: pointer;
}

.trapyz-contact-logo-container:hover {
  background: #4a90e2;
}

.trapyz-login-page .trapyz-label {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 4vmin 0 2vmin 0;
  color: #03A9F4;
  font-size: 14px;
  font-weight: 600;
}

.trapyz-login-page .trapyz-login-container {
  width: 70%;
  margin: 0 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.trapyz-login-page .trapyz-username-text,
.trapyz-login-page .trapyz-password-text {
  font-size: 14px;
  text-align: left;
  border: none;
  color: #ababab;
  border-bottom: 1px solid #439FF5;
  line-height: 30px;
  border-radius: 4px;
  padding-left: 7px;
}

.trapyz-username-text:focus,
.trapyz-password-text:focus {
  outline: none;
}

.trapyz-login-button {
  display: inline-block;
  width: 12vw;
  margin: 10vh 0 0 0;
  background: #439ff5;
  border-radius: 20px;
  padding: 9px;
  color: #fff;
  cursor: pointer;
  align-self: center;
}

.trapyz-copyright-text {
  margin-top: 100px;
  font-size: 12px;
  color: #90a4ae;
}

.trapyz-contact-text {
  color: #90a4ae;
}

.trapyz-error-txt {
  opacity: 0;
  color: red;
  font-size: 10px;
  margin: 10px;
  font-weight: 900;
}

.trapyz-link {
  color: #515fff;
  font-weight: 900;
}

.trapyz-login-page {
  display: flex;
}

.trapyz-login-page * {
  text-align: center;
  font-family: "Montserrat", "ubuntu";
}
