.trapyz-advanced-segment-page {
  background-color: #37474F;
  display: flex;
  flex-wrap: wrap;
}

.trapyz-advanced-segment-page  .settings {
  background-color: #37474F;
  flex-basis: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.trapyz-advanced-segment-page header {
  max-height: 90px;
}

.trapyz-advanced-segment-page {
  min-height: 100vh;
  align-content: baseline;
}

.invalid-date {
  float: left;
  display: inline-block;
  font-size: 12px;
  color: #f30404;
}

.settings-desc {
  margin: 14px 25px;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}

/* .settings {
display: inline-flex;
margin: 0 25px;
min-height: 500px;
background-color: #F5F5F5;
padding: 10px;
} */

.settings * {
  text-align: left;
  color: #CFD8DC;
}

.settings .operations {
  width: 75%;
}

.settings .operations h3 {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #CFD8DC;
  line-height: 20px;
}

.settings .sidebar {
  background-color: #455A64;
  display: inline-block;
  max-width: 20%;
  padding: 30px 20px;
}

.settings .sidebar h2 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: #B0BEC5;
  text-align: left;
  line-height: 20px;
  font-weight: normal;
}

.settings .operations main {
  margin: 15px 5px;
  display: flex;
  justify-content: space-between;
}

.settings .operations main .selector {
  display: inline-block;
  width: 45%;
  position: relative;
}

.settings .operations main .selector header {
  font-size: 12.5px;
  word-spacing: 0px;
  margin-bottom: 5px;
  font-weight: 700;
}

.settings .operations main .selector .input-box {
  display: flex;
  height: 36px;
  margin-top: 10px;
}

.settings .operations main .selector .input-box input {
  line-height: 21px;
  width: 200px;
  padding-left: 7px;
  border-radius: 5px;
  border: none;
  color: #4A4A4A;
}

.settings .operations main .selector .input-box .add, .area-input-box .add {
  margin-left: 10px;
  border-radius: 5px;
  color: #FFF;
  font-size: 28px;
  line-height: 25px;
  background-color: #2177EE;
  border-width: 0;
  cursor: pointer;
  width: 12%;
  text-align: center;
}

.settings .operations main .selector .input-box .add:hover, .area-input-box .add:hover {
  background-color: #1C62C1;
}

.settings .operations main .selector .input-box .show-area {
  font-size: 12px;
  font-weight: 900;
  margin-left: auto;
  color: #2177EE;
  cursor: pointer;
  max-width: 71px;
  align-self: center;
}

.settings .operations main .selector .input-box .show-area:hover {
  color: #1C62C1;
}

/* .settings .operations main .selector .city-list-box {
height: 200px;
background-color: #FFF;
margin-left: 5px;
margin-top: 6px;
border: 1px solid #afacac;
} */

.settings-date-range {
  margin-left: 15px;
  font-size: 14px;
}

.settings-date-range span {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.settings-date-range input {
  vertical-align: middle;
}

.settings-date-range label {
  vertical-align: middle;
  display: inline-block;
  margin: auto 10px auto 5px;
  font-size: 14px;
}

.slot-box {
  margin: 15px;
}

.slot-box .time-of-day {
  display: inline-block;
  width: 40%;
}

.slot-box .day-of-week {
  width: 60%;
  display: inline-block;
  padding-left: 32px;
}

.settings-date-range input, .slot-box .day-of-week input, .slot-box .time-of-day input {
  cursor: pointer;
}

.settings-date-range .selected, .settings-date-range p, .slot-box .time-of-day .time-checkbox.checked, .slot-box .day-of-week .day-checkbox.checked {
  color: #2177EE;
  font-weight: 700;
}

.slot-box span {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.slot-box .day-of-week label {
  width: 72px;
}

.slot-box label {
  font-size: 14px;
  display: inline-block;
  width: 65px;
  margin-left: 5px;
  line-height: 20px;
}

.slot-box div {
  display: flex;
  align-items: center;
}

.visit span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
}

.visit input {
  padding-left: 5px;
  line-height: 24px;
  border-radius: 5px;
  border: none;
  color: #4A4A4A;
}

.visit {
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9c9c9c;
  width: 98%;
  margin-left: 5px;
}

.show-count-box {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.show-count-box .show-count {
  margin-right: 30px;
  padding: 7px 12px;
  font-size: 12px;
  border-radius: 7px;
  color: #FFF;
  background-color: #2177EE;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.show-count-box .show-count:hover {
  background-color: #1c62c1;
}

.show-count-box .other-buttons {
  border: none;
  background-color: inherit;
  font-weight: 700;
  cursor: pointer;
  font-size: 12px;
  margin: auto 15px;
  color: #03A9F4;
}

.show-count-box .other-buttons:hover {
  /* color: #000000; */
}

/* .settings-city-list, .settings-category-list, .settings-area-list { */
.settings-city-list, .settings-category-list {
  display: inline-block;
  border: 1px solid #afacac;
  position: absolute;
  list-style: none;
  padding: 0;
  top: 66px;
  background: #B0BEC5;
  min-width: 213px;
  text-align: left;
  border-radius: 5px;
  max-height: 213px;
  overflow: auto;
}

/* .settings-city-list li, .settings-category-list li, .settings-area-list li { */
.settings-city-list li, .settings-category-list li {
  cursor: pointer;
  font-size: 14px;
  padding: 7px 10px;
  color: #4A4A4A;;
  text-align: left;
  padding-left: 10px;
  word-wrap: break-word;
}

/* .settings-city-list li:hover, .settings-category-list li:hover, .settings-area-list li:hover { */
.settings-city-list li:hover, .settings-category-list li:hover {
  background: #2177EE;
  color: #FFF;
}

.hidden {
  display: none !important;
}

/* .city-list-box ul, .area-list-box ul { */
.city-list-box ul {
  list-style: none;
  margin-top: 8px;
  background: #B0BEC5;
  border: 1px solid #979797;
  padding: 5px;
  height: 213px;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 5px;
}

/* .area-list-box ul li {
padding: 7px 15px;
border-bottom: 1px solid #afacac;
font-size: 13px;
display: flex;
align-items: center;
justify-content: space-between;
} */

.city-list-box ul li {
  /* border-bottom: 1px solid #afacac; */
  font-size: 13px;
  padding: 3px 0;
}

.city-list-box ul li .header, .city-list-box ul li section div {
  padding: 7px 15px !important;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city-list-box ul li section {
  margin-left: 20px;
}

.city-list-box ul li span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  color: #4A4A4A;
}

/* .city-list-box ul li img, .area-list-box ul li img { */
.city-list-box ul li img {
  width: 16px;
  cursor: pointer;
  height: 16px;
}

/* .area-selection-box, .date-range-selection-box, .save-segment-box, .error-message-box {
display: inline-block;
position: fixed;
width: 300px;
height: 400px;
top: 15vh;
left: calc(50vw - 180px);
background: #FFF;
padding: 20px;
box-shadow: 5px 5px 25px #000;
}

.error-message-box {
height: auto;
top: calc(50vh - 60px);
}

.area-selection-box *, .date-range-selection-box *, .save-segment-box * {
text-align: left;
}

.area-selection-box header span, .date-range-selection-box header span, .save-segment-box header span {
font-weight: 700;
margin-bottom: 10px;
display: inline-block;
}

.area-selection-box header .selected-city label {
font-size: 13px;
}

.area-selection-box header .selected-city span {
font-size: 14px;
margin-left: 5px;
}

.area-input-box label, .date-range-selection-box label, .save-segment-box label {
font-size: 13px;
margin-bottom: 5px;
display: block;
}

.area-input-box input {
line-height: 21px;
padding-left: 7px;
width: 222px;
}

.area-input-box div {
display: flex;
justify-content: space-between;
}

.area-selection-box .area-list-box {
height: 200px;
border: 1px solid #afacac;
margin-top: 15px;
}

.area-select-box, .save-button-box {
display: flex;
justify-content: flex-end;
margin-top: 20px;
}

.area-select-box button, .date-range-selection-box .cancel-date, .date-range-selection-box .select-date, .save-button-box button, .error-message-box .hide-alert  {
cursor: pointer;
font-size: 12px;
font-weight: 700;
border: none;
}

.area-select-box button.clear, .save-button-box button.clear, .date-range-selection-box .cancel-date {
margin-left: 20px;
background: #FFF;
color: #424040;
}

.area-select-box button.clear:hover, .save-button-box button.clear:hover, .date-range-selection-box .cancel-date:hover {
color: #000000;
}

.area-select-box button.select, .save-button-box button.select, .date-range-selection-box .select-date, .error-message-box .hide-alert {
padding: 7px 12px;
border-radius: 7px;
color: #FFF;
background-color: #2177EE;
}

.area-select-box button.select:hover, .save-button-box button.select:hover, .date-range-selection-box .select-date:hover, .error-message-box .hide-alert:hover {
background-color: #1C62C1;
}

.settings-area-list {
top: 110px;
left: 20px;
width: 222px;
} */

.date-range-selection-box section {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 20px;
}

.date-range-selection-box .header span, .save-segment-box .header span {
  font-weight: 700;
  color: #CFD8DC;
}

.save-segment-box .header {
  margin-bottom: 15px;
}

.date-range-selection-box section div {
  flex-basis: 150px;
}

.date-range-selection-box, .save-segment-box {
  width: 390px;
  height: 180px;
  left: calc(50vw - 195px);
  top: calc(50vh - 90px);
  box-shadow: 5px 5px 25px #000;
  background: #37474F;
  display: inline-block;
  position: fixed;
  padding: 20px;
}

.save-segment-box {
  left: calc(50vw - 180px);
  top: calc(50vh - 137px);
}

.date-range-selection-box input, .save-segment-box input {
  line-height: 21px;
  padding-left: 7px;
  color: #4A4A4A;
}

.date-range-selection-box label, .save-segment-box label {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

.date-range-selection-box footer {
  text-align: right;
}

.settings-date-range p {
  display: inline;
}

.sidebar h2 {
  font-size: 16px;
  margin-left: 10px;
}

.sidebar .unique-gids, .sidebar .total-count {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.sidebar .unique-gids .color, .sidebar .total-count .color {
  flex-basis: 20px;
  background: #F7B342;
  height: 20px;
  border: 1px solid #F7B342;
  border-radius: 4px;
  margin-top: -16px;
}

.sidebar .unique-gids .color {
  background: #498FE1;
  border: 1px solid #498FE1;
}

.sidebar span {
  display: block;
}

.sidebar .unique-gids .content, .sidebar .total-count .content {
  margin-left: 10px;
}

.sidebar .unique-gids .content .count, .sidebar .total-count .content .count {
  font-family: Roboto-Medium, sans-serif;
  font-size: 24px;
  color: #ECEFF1;
  margin-bottom: 3px;
}

.sidebar .unique-gids .content span, .sidebar .total-count .content span {
  font-size: 14px;
}

.sidebar .pie-chart {
  width: 84%;
  margin: 30px auto;
}

.save-segment-box {
  width: 360px;
  height: 275px;
}

.save-segment-box header {
  margin-bottom: 5px;
}

.save-segment-box label {
  margin-bottom: 10px;
}

.save-segment-box input {
  width: 100%;
  padding: 3px;
}

.save-segment-box div:last-child {
  margin-top: 10px;
}

.save-segment-box textarea {
  width: 100%;
  height: 60px;
  padding: 6px;
  color: #4A4A4A;
}

.settings .operations main .selector ul li header {
  font-weight: 500;
}

.city-list-box ul .header span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  color: #4A4A4A;
  text-align: left;
  cursor: pointer;
}

.city-list-box ul .header {
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
}

.loader {
  position: fixed;
  top: calc(50vh - 110px);
  left: calc(50vw - 110px);
}

.loader img {
  width: 135px;
}

.trapyz-confirmation-outer-box, .error-message-box {
  width: 390px;
  height: 140px;
  left: calc(50vw - 195px);
  top: calc(50vh - 90px);
  box-shadow: 5px 5px 25px #000;
  background: #37474F;
  display: inline-block;
  position: fixed;
  padding: 20px;
}

.trapyz-confirmation-button-holder {
  margin: 27px 0 0;
  text-align: center;
}

.error-message-box .hide-alert {
  margin: 30px auto 0;
  text-align: center;
  display: block;
}

.trapyz-confirmation-cancel-button, .trapyz-confirmation-ok-button {
  position: relative;
  display: inline-block;
  border: 2px solid #9653ff;
  margin: 0 20px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: 900;
}

.trapyz-confirmation-cancel-button:hover, .trapyz-confirmation-ok-button:hover {
  background: #9653ff;
}

.trapyz-confirmation-outer-box p, .error-message-box p {
  text-align: center;
}
