@import url('https://fonts.googleapis.com/css?family=Roboto');

body, * {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: left;
  font-family: sans-serif;
}

header {
  background-color: #263238;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
header .session {
  display: flex;
}
header .session span {
  font-size: 12px;
  margin: 5px 18px 0 0;
  color: #cfd8dc;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: inline-block;
  margin-left: 10px;
  min-width: 235px;
}
.logo div {
  margin-top: 6px;
}
.logo span {
  font-size: 14px;
  color: #90a4ae;
  font-family: ArialMT, sans-serif;
}

.heading {
  margin: 7px 0 4px;
  display: flex;
}

.installed {
  display: flex;
  vertical-align: top;
}
.installed div {
  background-color: #37474f;
  display: flex;
  border-radius: 5px;
  min-width: 122px;
  min-height: 59px;
  margin: 0 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.installed div label {
  font-size: 12px;
  color: #90a4ae;
}
.installed div span {
  font-size: 18px;
  margin-top: 9px;
  color: #b0bec5;
}

.installed div label, .installed div span {
  display: block;
  text-align: center;
}

main .category {
  padding: 40px 40px 20px;
  background-color: #37474f;
}
main .category section {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .category section article {
  width: 32%;
  height: 270px;
  background: #546e7a;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin: 10px 0;
}
main .category section article figure {
  background: #455a64;
  height: 200px;
}
main .category section article figcaption {
  padding: 12px 0 10px 20px;
  box-sizing: border-box;
}
main .category section article figcaption span {
  display: block;
  font-size: 14px;
  color: #b0bec5;
  margin-bottom: 7px;
}
main .category section article figcaption label {
  font-size: 16px;
}
main .segments {
  background-color: #263238;
  padding: 50px 40px 20px;
}
main .segments section {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-gap: 10px;
  margin-top: 6px;
}
main .segments section article {
  margin: 5px 0;
  background-color: #37474f;
  box-sizing: border-box;
  padding: 10px;
}
main .segments section article.create-segment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .segments section article.create-segment a {
  background-color: #455a64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  height: 50%;
}
main .segments section article.create-segment a:first-child {
  margin-bottom: 10px;
}
main .segments section article.create-segment a img {
  margin: 0 auto;
}
main .segments section article.create-segment a span {
  font-family: ArialMT, sans-serif;
  font-size: 17px;
  line-height: 20px;
  max-width: 122px;
  padding-left: 12px;
  box-sizing: border-box;
  color: #78909c;
}
main .segments section article.segment-card div {
  position: relative;
}
main .segments section article.segment-card div summary {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
main .segments section article.segment-card div summary label {
  font-size: 14px;
}
main .segments section article.segment-card div summary span {
  font-size: 20px;
  font-weight: 700;
  display: block;
}
main .segments section article.segment-card div img {
  opacity: 0.5;
  width: 100%;
  height: 50%;
}
main .segments section article.segment-card div img.hamburger {
  opacity: 1;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
main .segments section article.segment-card p {
  font-family: ArialMT, sans-serif;
  font-size: 14px;
  color: #cfd8dc;
  text-align: left;
  line-height: 16px;
  margin: 5px 0 10px;
}
main h2 {
  font-size: 24px;
  color: #b0bec5;
}

.demographic-segmentation {
  background-color: #37474F;
  display: flex;
}
.demographic-segmentation main {
  max-width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.demographic-segmentation main .query {
  flex-basis: 78%;
}
.demographic-segmentation main .query h2 {
  font-family: Helvetica-Bold, sans-serif;
  font-size: 24px;
  color: #B0BEC5;
  border-bottom: 1px solid #607D8B;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.demographic-segmentation main .query p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #B0BEC5;
  line-height: 24px;
}
.demographic-segmentation main .query .action {
  display: flex;
  max-width: 70%;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: auto;
  align-items: center;
}
.demographic-segmentation main .query .action a, .demographic-segmentation main .query .action button.show-count {
  font-family: Roboto-Medium, sans-serif;
  font-size: 14px;
  color: #03A9F4;
  line-height: 16px;
  text-decoration: none;
}
.demographic-segmentation main .query .action button.show-count {
  padding: 7px 12px;
  border-radius: 7px;
  background-color: #2177ee;
  border: none;
  font-weight: normal;
  cursor: pointer;
  color: #FFFFFF;
}
.demographic-segmentation main .query__block {
  padding-left: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
}
.demographic-segmentation main .query__block h3 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #CFD8DC;
  line-height: 20px;
}
.demographic-segmentation main .query__block__age-gender, .demographic-segmentation main .query__block__category-city, .demographic-segmentation main .query__block__income-affinity, .demographic-segmentation main .query__block__phone-language {
  margin-top: 18px;
  display: flex;
}
.demographic-segmentation main .query__block__age-gender__block, .demographic-segmentation main .query__block__category-city__block, .demographic-segmentation main .query__block__income-affinity__block, .demographic-segmentation main .query__block__phone-language__block {
  width: 45%;
}
.demographic-segmentation main .query__block__age-gender h4, .demographic-segmentation main .query__block__category-city h4, .demographic-segmentation main .query__block__income-affinity h4, .demographic-segmentation main .query__block__phone-language h4 {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #CFD8DC;
  line-height: 20px;
}
.demographic-segmentation main .query__block__category-city, .demographic-segmentation main .query__block__income-affinity, .demographic-segmentation main .query__block__phone-language {
  justify-content: space-between;
}
.demographic-segmentation main .query__block__category-city__block ul, .demographic-segmentation main .query__block__income-affinity__block ul, .demographic-segmentation main .query__block__phone-language__block ul {
  list-style: none;
  margin-top: 8px;
  background: #B0BEC5;
  border: 1px solid #979797;
  padding: 5px;
  height: 213px;
  overflow: auto;
  box-sizing: border-box;
}
.demographic-segmentation main .query__block__category-city__block ul li header, .demographic-segmentation main .query__block__income-affinity__block ul li header, .demographic-segmentation main .query__block__phone-language__block ul li header {
  background: inherit;
  padding: 7px 10px;
}
.demographic-segmentation main .query__block__category-city__block ul li section, .demographic-segmentation main .query__block__income-affinity__block ul li section, .demographic-segmentation main .query__block__phone-language__block ul li section {
  padding-left: 30px;
}
.demographic-segmentation main .query__block__category-city__block ul li section div, .demographic-segmentation main .query__block__income-affinity__block ul li section div, .demographic-segmentation main .query__block__phone-language__block ul li section div {
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
}
.demographic-segmentation main .query__block__category-city__block ul li span, .demographic-segmentation main .query__block__income-affinity__block ul li span, .demographic-segmentation main .query__block__phone-language__block ul li span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  color: #4A4A4A;
  text-align: left;
}
.demographic-segmentation main .query__block__category-city__block .input-box, .demographic-segmentation main .query__block__income-affinity__block .input-box, .demographic-segmentation main .query__block__phone-language__block .input-box {
  display: flex;
  margin-top: 10px;
  height: 36px;
}
.demographic-segmentation main .query__block__category-city__block .input-box input, .demographic-segmentation main .query__block__income-affinity__block .input-box input, .demographic-segmentation main .query__block__phone-language__block .input-box input {
  line-height: 21px;
  flex-basis: 63%;
  padding-left: 7px;
}
.demographic-segmentation main .query__block__category-city__block .input-box .add, .demographic-segmentation main .query__block__income-affinity__block .input-box .add, .demographic-segmentation main .query__block__phone-language__block .input-box .add {
  margin-left: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 28px;
  background-color: #2177ee;
  border-width: 0;
  cursor: pointer;
  width: 12%;
}
.demographic-segmentation main .query__block__category-city__block .input-box .show, .demographic-segmentation main .query__block__income-affinity__block .input-box .show, .demographic-segmentation main .query__block__phone-language__block .input-box .show {
  font-size: 12px;
  font-family: Roboto-Medium, sans-serif;
  margin-left: auto;
  color: #2177ee;
  cursor: pointer;
  max-width: 27%;
  align-self: center;
  text-align: center;
}
.demographic-segmentation main .query__block__age-gender section {
  width: 45%;
}
.demographic-segmentation main .query__block__age-gender__age-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.demographic-segmentation main .query__block__age-gender__gender-block, .demographic-segmentation main .query__block__age-gender__age-block {
  margin-top: 8px;
}
.demographic-segmentation main .query__block__age-gender__gender-block div, .demographic-segmentation main .query__block__age-gender__age-block div {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.demographic-segmentation main .query__block__age-gender__gender-block div label, .demographic-segmentation main .query__block__age-gender__age-block div label {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #ECEFF1;
  line-height: 20px;
  margin-left: 5px;
}
.demographic-segmentation main .query__block__age-gender__gender-block div input, .demographic-segmentation main .query__block__age-gender__age-block div input {
  opacity: 0.54;
  background: #010101;
}
.demographic-segmentation main .query__block__income-affinity__block li, .demographic-segmentation main .query__block__phone-language__block li {
  padding: 7px 10px;
  display: flex;
  align-items: center;
}
.demographic-segmentation main .query__block__income-affinity__block li .checkbox, .demographic-segmentation main .query__block__phone-language__block li .checkbox {
  display: inline-flex;
  border: 1px solid #010101;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.demographic-segmentation main .query__block__income-affinity__block li .checkbox input, .demographic-segmentation main .query__block__phone-language__block li .checkbox input {
  cursor: pointer;
  opacity: 0.54;
}
.demographic-segmentation main .query__block__phone-language__block li {
  display: block;
  padding: 0;
}
.demographic-segmentation main .query__block__phone-language__block ul.language {
  height: 259px;
}
.demographic-segmentation main .query__block__phone-language__block ul.language li {
  padding: 7px 10px;
}
.demographic-segmentation main .result {
  background-color: #455A64;
  display: inline-block;
  max-width: 22%;
  padding: 30px 25px;
}
.demographic-segmentation main .result h2 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: #B0BEC5;
  text-align: left;
  line-height: 20px;
  font-weight: normal;
}
.demographic-segmentation main .result .total-count, .demographic-segmentation main .result .unique-count {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.demographic-segmentation main .result .total-count span, .demographic-segmentation main .result .unique-count span {
  display: block;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  color: #CFD8DC;
  text-align: left;
  line-height: 20px;
}
.demographic-segmentation main .result .total-count .content .count, .demographic-segmentation main .result .unique-count .content .count {
  font-family: Roboto-Medium, sans-serif;
  font-size: 24px;
  color: #ECEFF1;
  margin-bottom: 3px;
}
.demographic-segmentation main .result .total-count .color, .demographic-segmentation main .result .unique-count .color {
  background: #F5A623;
  border-radius: 3px;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  margin-right: 10px;
}
.demographic-segmentation main .result .unique-count .color {
  background: #4A90E2;
}

ul::-webkit-scrollbar {
  width: 8px;
}
ul::-webkit-scrollbar-track {
  background: #B0BEC5;
}
ul::-webkit-scrollbar-thumb {
  background-color: #D8D8D8;
  border-radius: 5px;
}

/* Extra new CSS*/

.trapyz-hamburger-menu {
  position: absolute !important;
  display: none;
  background: white;
  top: 24%;
  right: 5%;
  border-radius: 4px;
  font-size: 12px;
  z-index: 99;
}

.trapyz-hamburger-menu-item {
  padding: 5px 25px;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
  text-align: center;
}

.trapyz-hamburger-menu-item:hover {
  background: #8749FF;
  color: #fff;
  transition: 0.5s;
}

.hidden {
  display: none;
}

.inactive:hover {
  background-color: #6B6B6B;
  color: #FFFFFF;
  cursor: not-allowed;
}

/*# sourceMappingURL=index.css.map */
